// overlap image
@mixin overlap-image($bgcolor,$url,$width,$height) {
  position: relative;
  &:before {
    content: " ";
    //opacity: 0.4;
    display: inline-block;
    overflow: hidden;
    width: $width;
    height: $height;
    position: absolute;
    left:-1px;
    top:-1px;
    background-color: $bgcolor;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: $width $height;
  }
}
.highcharts-figure {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}
.highcharts-data-table{
  table {
    min-width: 310px;
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  caption {
    font-size: 1.2em;
    color: #555;
    padding: 0.5em;
  }
  th {
    font-weight: 600;
    padding: 0.5em;
  }
  td {
    padding: 0.5em;
  }
  thead {
    tr {
      background: #f8f8f8;
      &:nth-child(even) {
        background: #f8f8f8;
      }
      &:hover {
        background: #f1f7ff;
      }
    }
  }
}
.outer-frame {
  width: 414px;
  height: 896px;
  &.bg-01 { @include overlap-image(transparant,'../images/bg_01.png',414px,896px); }
  &.bg-02 { @include overlap-image(transparant,'../images/bg_02.png',414px,896px); }
  .btn-to-detail {
    position: absolute;
    left:0;
    top:577px;
    height: 68px;
    width: 100%;
  }
  .figure-container {
    position: absolute;
    left: 9px;
    top: 393px;
    .highcharts-figure {
      #container {
        //border:1px solid red;
        width: 400px;
        height: 180px;
      }
    }
  }
  .figure-container-2 {
    position: absolute;
    left: 0;
    top: 600px;
    height: 200px;
    width: 100%;
    .highcharts-figure-2 {
      position: absolute;
      left: -32px;
      top: 56px;
      height: 63px;
      width: 100%;
      #container-2 {
        //border:1px solid red;
        width: 410px;
        height: 63px;
      }
    }
  }
}



