@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto-Light.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto-Regular.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto-Medium.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(../fonts/NotoSansKR-Thin.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(../fonts/NotoSansKR-Light.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/NotoSansKR-Black.woff2) format("woff2"), url(../fonts/NotoSansKR-Black.woff) format("woff"), url(../fonts/NotoSansKR-Black.otf) format("opentype")
}

/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

template, [hidden] {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit
}

b, strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, select, textarea {
    font: inherit
}

optgroup {
    font-weight: bold
}

button, input, select {
    overflow: visible
}

button, input, select, textarea {
    margin: 0
}

button, select {
    text-transform: none
}

button, [type="button"], [type="reset"], [type="submit"] {
    cursor: pointer
}

[disabled] {
    cursor: default
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button:-moz-focusring, input:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html, body {
    min-height: 100%
}

body {
    font-family: "Roboto", "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eaeaea
}

h1 {
    font-weight: normal
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.hidden {
    display: none
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1)
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1)
    }
}

.share {
    padding-top: 15px
}

.share .sharer {
    display: inline-block;
    height: 20px;
    width: 56px;
    text-indent: -9999px;
    cursor: pointer;
    margin: 0 3px
}

.share .sharer.soc-twitter {
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -817px 0;
    background-repeat: no-repeat;
    background-size: 880px 458px
}

.share .sharer.soc-facebook {
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -817px -20px;
    background-repeat: no-repeat;
    background-size: 880px 458px
}

.share .sharer.soc-googleplus {
    width: 57px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -817px -40px;
    background-repeat: no-repeat;
    background-size: 880px 458px
}

.share .sharer.soc-pinterest {
    width: 40px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -817px -60px;
    background-repeat: no-repeat;
    background-size: 880px 458px
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal
}

.alert-window {
    display: none
}

.alert-window .alert-shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100
}

.alert-window .alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    margin-left: -150px;
    background-color: #ffffff;
    color: #5b5b5b;
    width: 300px;
    text-align: center;
    padding: 20px 30px;
    z-index: 120;
    border-top: 2px solid #ffc000
}

.alert-window .alert p {
    font-size: 14px;
    margin: 0 0 30px
}

.alert-window .alert button.btn-alert {
    background-color: #fff;
    border: 1px solid #acacac;
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 3px;
    color: #5b5b5b;
    outline: none
}

@media (min-width: 768px) {
    .alert-window .alert {
        width: 400px;
        padding: 30px
    }

    .alert-window .alert p, .alert-window .alert button {
        font-size: 17px
    }
}

.pin {
    margin-left: -10px;
    margin-top: -48px;
    z-index: 15
}

@media (min-width: 768px) {
    .pin {
        margin-left: -16px;
        margin-top: -84px
    }
}

.pin .pin-base {
    position: absolute;
    bottom: -12px;
    left: -4px;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -172px -100px;
    background-repeat: no-repeat;
    background-size: 880px 458px
}

@media (min-width: 768px) {
    .pin .pin-base {
        left: 3px
    }
}

.pin .pin-image {
    position: relative;
    z-index: 10;
    padding: 3px;
    width: 50px;
    height: 51px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -1px -82px;
    background-repeat: no-repeat;
    background-size: 440px 229px
}

@media (min-width: 768px) {
    .pin .pin-image {
        padding: 5px;
        width: 85px;
        height: 87px;
        background-image: url("../images/map-sprite.png?v=1.1");
        background-position: -258px -172px;
        background-repeat: no-repeat;
        background-size: 880px 458px
    }
}

.pin .pin-image .image-wrap {
    display: block;
    overflow: hidden;
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 22px
}

@media (min-width: 768px) {
    .pin .pin-image .image-wrap {
        width: 75px;
        height: 75px;
        border-radius: 37px
    }
}

.pin .pin-image .image-wrap img {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.pin .pin-image .image-wrap img.landscape {
    width: auto;
    height: 100%;
    top: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.pin .pin-image .photo-edit {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 12;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    text-indent: -9999px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: 0 -103px;
    background-repeat: no-repeat;
    background-size: 880px 458px;
    background-color: rgba(0, 0, 0, 0.3)
}

.pin .pin-title {
    position: absolute;
    top: 6px;
    left: 24px;
    background-color: #ffffff;
    font-size: 12px;
    line-height: 15px;
    height: 38px;
    padding: 4px 14px 4px 28px;
    border-radius: 22px;
    border: 0.5px solid rgba(179, 179, 179, 0.58);
    font-family: "Roboto", "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media (min-width: 768px) {
    .pin .pin-title {
        top: 20px;
        left: 52px;
        height: 46px;
        padding: 4px 12px 4px 35px;
        border-radius: 22px;
        line-height: 19px
    }
}

.pin .pin-title .name {
    color: #212121;
    white-space: nowrap;
    display: block;
    margin-bottom: 0;
    font-weight: 500
}

@media (min-width: 768px) {
    .pin .pin-title .name {
        margin-bottom: 0
    }
}

.pin .pin-title .tag {
    color: #ffc000;
    font-weight: 500;
    white-space: nowrap
}

.pin.hover {
    z-index: 20
}

.pin.hover .pin-image {
    background-position: -64px -82px
}

@media (min-width: 768px) {
    .pin.hover .pin-image {
        background-position: -363px -173px
    }
}

.pin.hover .pin-title {
    background-color: #ffc000;
    border-color: #ffc000
}

.pin.hover .pin-title .tag {
    color: #ffffff
}

.popup {
    display: none;
    position: absolute;
    width: 800px;
    top: 150px;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, 0, 0);
    background-color: #333333
}

.popup.active {
    display: block
}

.popup .popup-close {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/close-dark.png") #ffc000 no-repeat center center;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0
}

.popup .popup-footer:before, .popup .popup-footer:after {
    content: " ";
    display: table
}

.popup .popup-footer:after {
    clear: both
}

.popup .popup-content .popup-footer {
    padding: 30px
}

.popup .popup-actions {
    float: right;
    width: 95px;
    padding-top: 10px
}

.popup .popup-actions .btn-primary {
    background-color: #ffc000;
    color: #ffffff;
    border: 1px solid #ffc000;
    font-weight: 500;
    font-size: 14px;
    width: 80px;
    height: 34px;
    margin-bottom: 9px
}

.popup .popup-actions .btn-cancel {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: 500;
    font-size: 14px;
    width: 80px;
    height: 34px
}

.popup.small {
    width: 340px
}

.popup.small .popup-actions {
    width: 100%;
    text-align: center
}

.popup.small .popup-actions .btn-primary, .popup.small .popup-actions .btn-cancel {
    display: inline-block;
    margin: 0 5px
}

.cluster {
    border: 1px solid #fff;
    background-color: rgba(0, 210, 255, 0.8);
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px
}

@media (min-width: 768px) {
    .cluster {
        font-size: 18px;
        border-width: 2px
    }
}

.cluster.cluster-1 {
    width: 32px;
    height: 32px;
    line-height: 30px
}

@media (min-width: 768px) {
    .cluster.cluster-1 {
        width: 44px;
        height: 44px;
        line-height: 42px
    }
}

.cluster.cluster-2 {
    width: 34px;
    height: 34px;
    line-height: 32px
}

@media (min-width: 768px) {
    .cluster.cluster-2 {
        width: 47px;
        height: 47px;
        line-height: 45px
    }
}

.cluster.cluster-3 {
    width: 39px;
    height: 39px;
    line-height: 37px
}

@media (min-width: 768px) {
    .cluster.cluster-3 {
        width: 57px;
        height: 57px;
        line-height: 55px
    }
}

.cluster.cluster-4 {
    width: 45px;
    height: 45px;
    line-height: 43px
}

@media (min-width: 768px) {
    .cluster.cluster-4 {
        width: 69px;
        height: 69px;
        line-height: 67px
    }
}

.cluster.cluster-5 {
    width: 50px;
    height: 50px;
    line-height: 48px
}

@media (min-width: 768px) {
    .cluster.cluster-5 {
        width: 81px;
        height: 81px;
        line-height: 79px
    }
}

.speech-bubble {
    position: absolute;
    z-index: 300;
    top: -132px;
    right: 11px;
    width: 200px;
    height: 82px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -203px 0;
    background-repeat: no-repeat;
    background-size: 440px 229px;
    text-align: center
}

.speech-bubble span {
    display: inline-block;
    line-height: 60px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding-left: 25px;
    position: relative
}

.speech-bubble span:before {
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    content: "";
    width: 22px;
    height: 18px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -58px -46px;
    background-repeat: no-repeat;
    background-size: 440px 229px
}

.floating-notif {
    z-index: 10;
    position: fixed;
    right: 50px;
    bottom: 24px;
    line-height: 45px;
    height: 45px;
    padding: 0 24px;
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    font-family: "Noto Sans KR";
    display: none
}

@media (min-width: 768px) {
    .floating-notif {
        display: block
    }
}

#header {
    position: fixed;
    z-index: 11;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    text-align: center
}

#header .md {
    display: none
}

@media (min-width: 768px) {
    #header .md {
        display: block
    }
}

#header .logo {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    margin-left: -12px;
    text-indent: -9999px;
    background-color: #ffc000;
    position: relative
}

#header .logo:before {
    position: absolute;
    top: 12px;
    left: 17px;
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -100px -147px;
    background-repeat: no-repeat;
    background-size: 440px 229px
}

@media (min-width: 768px) {
    #header .logo {
        margin-left: 0;
        text-indent: 0;
        width: auto;
        padding-left: 50px;
        padding-right: 20px;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none
    }
}

#header .header-mobile {
    display: block;
    padding: 0 12px
}

@media (min-width: 768px) {
    #header .header-mobile {
        display: none
    }
}

#header .header-mobile h1 {
    font-size: 18px;
    line-height: 50px;
    margin: 0 0 0 68px;
    padding-right: 15px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#header .link-info {
    display: inline-block;
    margin: 10px 0;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    font-size: 14px
}

#header .link-info span {
    color: #ee6161
}

#header .link-info .btn-copy {
    display: inline-block;
    background-color: #ffc000;
    font-weight: normal;
    font-size: 12px;
    border-radius: 2px;
    height: 26px;
    line-height: 26px;
    color: #ffffff;
    padding: 0 10px;
    text-decoration: none;
    margin-left: 5px;
    border: 0;
    outline: none;
    cursor: pointer
}

#header .share {
    float: right;
    padding-right: 20px
}

#map {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

#map-page {
    overflow: hidden;
    height: 100%;
    min-height: 100%
}

@media (min-width: 768px) {
    #map-page {
        overflow: visible
    }
}

#map-page .btn-map {
    height: 45px;
    line-height: 45px;
    padding: 0 68px;
    background-color: #ffc000;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 23px;
    border: 0;
    position: fixed;
    bottom: 30px;
    right: 50px
}

#map-page .btn-map:focus {
    outline: 0
}

#map-page .btn-map[disabled] {
    opacity: 0.5
}

.elements-list {
    z-index: 10;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 0;
    overflow: hidden
}

.elements-list form {
    display: block
}

@media (min-width: 768px) {
    .elements-list {
        position: relative;
        width: 340px;
        margin: 90px 0 70px 20px;
        overflow: visible
    }
}

@media (min-width: 992px) {
    .elements-list {
        width: 420px
    }
}

.elements-list .elements-list-pull {
    position: relative;
    display: block;
    height: 17px;
    border-top: 1px solid #d3d3d3;
    background-color: #f9f9f9
}

.elements-list .elements-list-pull:before {
    position: absolute;
    bottom: 4px;
    left: 50%;
    margin-left: -10px;
    display: block;
    content: "";
    width: 20px;
    height: 7px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -179px -52px;
    background-repeat: no-repeat;
    background-size: 440px 229px
}

@media (min-width: 768px) {
    .elements-list .elements-list-pull {
        display: none
    }
}

.elements-list.opened .elements-list-pull:before {
    background-position: -179px -66px
}

.elements-list .elements-list-scroller {
    overflow: hidden
}

.elements-list .actions {
    position: relative
}

@media (min-width: 768px) {
    .elements-list .actions {
        display: none
    }
}

.elements-list .actions .link {
    position: absolute;
    z-index: 10;
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    border: 0;
    border-radius: 4px;
    top: -51px
}

.elements-list .actions .link.copy-link {
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -72px 0;
    background-repeat: no-repeat;
    background-size: 440px 229px;
    background-color: #ffffff;
    margin-left: 0;
    left: 16px
}

.elements-list .actions .link.download-link {
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -40px 0;
    background-repeat: no-repeat;
    background-size: 440px 229px;
    background-color: #ffc000;
    right: 16px
}

.elements-list .actions .like-container {
    position: absolute;
    left: 16px;
    top: 2px;
    z-index: 10
}

.elements-list .actions .btn-facebook {
    position: absolute;
    left: 16px;
    top: -51px;
    z-index: 10;
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    border: 0;
    border-radius: 4px;
    background-color: #43609c;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -237px -84px;
    background-repeat: no-repeat;
    background-size: 440px 229px
}

.elements-list ul#elements-list {
    display: block;
    background-color: #f1f1f1
}

@media (min-width: 768px) {
    .elements-list ul#elements-list {
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        height: auto;
        overflow: hidden
    }
}

.elements-list ul#elements-list li.ad {
    padding: 0 16px
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li.ad {
        display: none
    }
}

.elements-list ul#elements-list li.ad div.fake-element {
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    padding-top: 14px;
    padding-bottom: 14px
}

.elements-list ul#elements-list li.ad div.fake-element div {
    display: inline-block
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li {
        border-bottom: 1px solid #d1d1d1
    }

    .elements-list ul#elements-list li:last-child {
        border-bottom: 0
    }
}

.elements-list ul#elements-list li[data-list-id] {
    padding: 0 16px;
    background-color: #ffffff;
    margin-top: 10px
}

.elements-list ul#elements-list li[data-list-id]:first-child {
    margin-top: 0
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] {
        margin: 0;
        padding: 0 19px
    }

    .elements-list ul#elements-list li[data-list-id].first {
        display: none
    }
}

.elements-list ul#elements-list li[data-list-id].hover {
    background-color: #fffaeb
}

.elements-list ul#elements-list li[data-list-id] .latitude, .elements-list ul#elements-list li[data-list-id] .longitude, .elements-list ul#elements-list li[data-list-id] .telephone {
    display: none
}

.elements-list ul#elements-list li[data-list-id] .element {
    display: block;
    padding: 13px 0 7px;
    text-decoration: none;
    font-size: 13px;
    position: relative
}

.elements-list ul#elements-list li[data-list-id] .element:before, .elements-list ul#elements-list li[data-list-id] .element:after {
    content: " ";
    display: table
}

.elements-list ul#elements-list li[data-list-id] .element:after {
    clear: both
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element {
        font-size: 14px;
        border-radius: 0;
        padding: 19px 0 11px
    }
}

.elements-list ul#elements-list li[data-list-id] .element .element-image {
    position: relative;
    float: left;
    width: 65px;
    height: 65px;
    margin: 0 14px 0 0
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element .element-image {
        width: 80px;
        height: 80px;
        margin: 0
    }
}

.elements-list ul#elements-list li[data-list-id] .element .element-image .image-wrap {
    position: relative;
    z-index: 0;
    display: block;
    overflow: hidden;
    border-radius: 4px;
    width: 65px;
    height: 65px;
    background-color: #d8d8d8;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -10px -145px;
    background-repeat: no-repeat;
    background-size: 440px 229px
}

.elements-list ul#elements-list li[data-list-id] .element .element-image .image-wrap .md {
    display: none
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element .element-image .image-wrap {
        border-radius: 5px;
        width: 80px;
        height: 80px;
        background-size: 880px 458px;
        background-position: -276px -278px
    }

    .elements-list ul#elements-list li[data-list-id] .element .element-image .image-wrap .xs {
        display: none !important
    }

    .elements-list ul#elements-list li[data-list-id] .element .element-image .image-wrap .md {
        display: block
    }
}

.elements-list ul#elements-list li[data-list-id] .element .element-image .image-wrap img {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.elements-list ul#elements-list li[data-list-id] .element .element-image .image-wrap img.landscape {
    width: auto;
    height: 100%;
    top: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.elements-list ul#elements-list li[data-list-id] .element .element-image .photo-edit {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: inline-block;
    width: 30px;
    height: 27px;
    text-indent: -9999px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: 2px -102px;
    background-repeat: no-repeat;
    background-size: 880px 458px;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 4px
}

.elements-list ul#elements-list li[data-list-id] .element .element-desc {
    margin-left: 80px;
    margin-bottom: 6px;
    font-size: 13px;
    min-height: 65px
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element .element-desc {
        margin-left: 95px;
        margin-bottom: 8px;
        font-size: 14px;
        min-height: 80px
    }
}

.elements-list ul#elements-list li[data-list-id] .element .element-desc h3 {
    font-size: 15px;
    font-weight: 500;
    color: #212121;
    margin: 0 0 3px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element .element-desc h3 {
        font-size: 17px;
        line-height: 26px;
        margin: 0 0 4px 0
    }
}

.elements-list ul#elements-list li[data-list-id] .element .element-desc p {
    color: #a0a0a0;
    margin: 0;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element .element-desc p {
        line-height: 25px
    }
}

.elements-list ul#elements-list li[data-list-id] .element .element-desc .tag {
    color: #ffc000;
    text-decoration: none;
    line-height: 20px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element .element-desc .tag {
        line-height: 22px
    }
}

.elements-list ul#elements-list li[data-list-id] .element .element-bottom {
    display: none;
    padding-top: 15px
}

.elements-list ul#elements-list li[data-list-id] .element .element-bottom:before, .elements-list ul#elements-list li[data-list-id] .element .element-bottom:after {
    content: " ";
    display: table
}

.elements-list ul#elements-list li[data-list-id] .element .element-bottom:after {
    clear: both
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element .spread {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1
    }
}

.elements-list ul#elements-list li[data-list-id] .element .element-rating-container {
    width: 0;
    height: 65px;
    float: right;
    position: relative
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element .element-rating-container {
        height: 77px
    }
}

.elements-list ul#elements-list li[data-list-id] .element .element-rating-container .rating {
    display: block;
    background-color: #d0d0d0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
    padding: 0 4px;
    position: absolute;
    top: 0;
    right: 0
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element .element-rating-container .rating {
        font-size: 17px;
        line-height: 23px;
        border-radius: 4px;
        padding: 0 5px
    }
}

.elements-list ul#elements-list li[data-list-id] .element .element-rating-container .price-range {
    display: block;
    font-size: 13px;
    color: #a0a0a0;
    position: absolute;
    bottom: 1px;
    right: 0;
    line-height: 20px
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element .element-rating-container .price-range {
        font-size: 14px;
        bottom: 0;
        line-height: 22px
    }
}

.elements-list ul#elements-list li[data-list-id] .element.has-rating .element-desc h3 {
    padding-right: 45px
}

@media (min-width: 768px) {
    .elements-list ul#elements-list li[data-list-id] .element.has-rating .element-desc h3 {
        padding-right: 49px
    }
}

.elements-list ul#elements-list li[data-list-id] .element.has-price .element-desc .tag {
    padding-right: 70px
}

.element-info {
    clear: both;
    border-top: 1px solid #ececec;
    padding-top: 8px;
    padding-right: 16px;
    margin-top: 10px;
    margin-right: -16px
}

.element-info:before, .element-info:after {
    content: " ";
    display: table
}

.element-info:after {
    clear: both
}

@media (min-width: 768px) {
    .element-info {
        margin-top: 12px;
        margin-right: -20px;
        padding-top: 10px;
        padding-right: 20px
    }
}

.element-info .icon-delivery {
    position: relative
}

.element-info .icon-delivery:before {
    display: block;
    content: "";
    width: 15px;
    height: 12px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -109px -57px;
    background-repeat: no-repeat;
    background-size: 440px 229px;
    display: inline-block
}

@media (min-width: 768px) {
    .element-info .icon-delivery:before {
        width: 16px;
        height: 13px;
        background-position: -264px -122px;
        background-size: 880px 458px
    }
}

.element-info dl {
    margin: 0;
    font-size: 13px;
    line-height: 20px
}

@media (min-width: 768px) {
    .element-info dl {
        font-size: 14px;
        line-height: 22px
    }
}

.element-info dl dt {
    width: 80px;
    float: left;
    color: #dcd0ae
}

@media (min-width: 768px) {
    .element-info dl dt {
        width: 95px;
        color: #d1c6a6
    }
}

.element-info dl dt span.today {
    background-color: #ffc000;
    font-size: 9px;
    font-weight: 500;
    color: #ffffff;
    line-height: 13px;
    height: 13px;
    display: block;
    text-transform: uppercase;
    float: left;
    margin-top: 3px;
    padding: 1px 5px 0;
    border-radius: 2px
}

@media (min-width: 768px) {
    .element-info dl dt span.today {
        margin-top: 5px;
        font-size: 10px;
        height: 15px;
        padding: 1px 9px 0
    }
}

.element-info dl dt.business_hours_title {
    display: none
}

.element-info dl dt.business_hours_title.active {
    display: block
}

.element-info dl dd {
    color: #a0a0a0;
    margin-left: 80px;
    -webkit-margin-start: 0
}

@media (min-width: 768px) {
    .element-info dl dd {
        margin-left: 95px
    }
}

.element-info dl dd.business_hours {
    display: none
}

.element-info dl dd.business_hours.active {
    display: block
}

.element-info dl dd.business_hours .day {
    display: none
}

.element-info dl dd.business_hours .day.active {
    display: inline
}

.element-info dl dt.app-label {
    line-height: 28px;
    padding: 6px 0 7px
}

@media (min-width: 768px) {
    .element-info dl dt.app-label {
        display: none
    }
}

.element-info dl dd.app-link-container {
    padding: 6px 0 7px
}

@media (min-width: 768px) {
    .element-info dl dd.app-link-container {
        display: none
    }
}

.element-info dl dd.app-link-container a.app-link {
    display: inline-block;
    height: 28px;
    line-height: 26px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    color: #5e5e5e;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 28px;
    padding-right: 13px;
    position: relative
}

.element-info dl dd.app-link-container a.app-link:before {
    display: block;
    content: "";
    width: 12px;
    height: 15px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -154px -58px;
    background-repeat: no-repeat;
    background-size: 440px 229px;
    position: absolute;
    top: 6px;
    left: 11px
}

.first-element {
    position: relative;
    z-index: 3;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: none
}

@media (min-width: 768px) {
    .first-element {
        display: block
    }
}

.first-element .latitude, .first-element .longitude, .first-element .telephone {
    display: none
}

.first-element .image-wrap {
    height: 218px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.first-element .image-wrap img.md {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.first-element .image-wrap img.md.landscape {
    width: auto;
    height: 100%;
    top: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.first-element .image-wrap img.xs {
    display: none !important
}

.first-element .image-wrap .page-title-container {
    position: absolute;
    width: 100%;
    height: 218px;
    top: 0;
    left: 0;
    padding: 25px 20px
}

.first-element .image-wrap .page-title-container h1 {
    color: #ffffff;
    font-size: 18px;
    margin: 0 0 8px 0;
    font-weight: bold
}

.first-element .image-wrap .page-title-container p.subtitle {
    color: #ffffff;
    font-size: 14px;
    margin: 0
}

.first-element .image-wrap .page-title-container .tag {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: inline-block;
    line-height: 28px;
    color: #ffffff;
    background-color: rgba(255, 192, 0, 0.6);
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 14px
}

.first-element .image-wrap .page-title-container .photo-edit {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 45px;
    height: 38px;
    text-indent: -9999px;
    background-image: url("../images/map-sprite.png?v=1.1");
    background-position: -28px -96px;
    background-repeat: no-repeat;
    background-size: 880px 458px;
    background-color: rgba(0, 0, 0, 0.3)
}

.first-element .first-element-desc {
    display: block;
    padding: 20px 20px 0;
    text-decoration: none;
    position: relative
}

.first-element .first-element-desc .element-rating-container {
    width: 0;
    height: 84px;
    float: right;
    position: relative
}

@media (min-width: 768px) {
    .first-element .first-element-desc .element-rating-container {
        height: 58px
    }
}

.first-element .first-element-desc .element-rating-container .rating {
    display: block;
    background-color: #d0d0d0;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0
}

@media (min-width: 768px) {
    .first-element .first-element-desc .element-rating-container .rating {
        margin-top: 3px;
        width: 34px;
        font-size: 15px;
        line-height: 23px;
        border-radius: 3px
    }
}

.first-element .first-element-desc .element-rating-container .price-range {
    display: block;
    font-size: 14px;
    color: #cccccc;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 20px
}

.first-element .first-element-desc h2 {
    font-size: 20px;
    font-weight: 500;
    color: #212121;
    margin-top: 0;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.first-element .first-element-desc p {
    color: #a9a9a9;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 14px
}

.first-element .first-element-desc p.subtitle {
    color: #8c8c8c;
    margin-top: 0;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.first-element .first-element-desc .hr {
    border-top: 1px solid #888888;
    width: 20px;
    margin: 0 0 14px 0
}

.first-element .first-element-desc .hr.hr-full {
    display: none;
    width: 100%;
    border: 0;
    border-top: 1px solid #ebe4dc
}

.first-element .first-element-desc.has-rating h2 {
    margin-right: 40px
}

.first-element .first-element-desc.has-price p.subtitle {
    margin-right: 80px
}

.first-element .first-element-desc .element-info {
    border-top: 1px solid #f3f3f3;
    background-color: #fcfcfc;
    padding: 14px 20px 16px;
    margin: 0 -20px
}

.facebook-like-large {
    z-index: 10;
    position: fixed;
    border-radius: 5px;
    padding: 10px;
    display: none
}

@media (min-width: 768px) {
    .facebook-like-large {
        display: block;
        left: 370px;
        bottom: 22px;
        width: 100px
    }

    .facebook-like-large .fb-like.medium {
        display: block
    }

    .facebook-like-large .fb-like.large {
        display: none
    }
}

@media (min-width: 992px) {
    .facebook-like-large {
        left: 470px;
        right: auto;
        bottom: 24px;
        width: 380px
    }

    .facebook-like-large .fb-like.medium {
        display: none
    }

    .facebook-like-large .fb-like.large {
        display: block
    }
}

/*# sourceMappingURL=listing.css.map */
