@charset "utf-8";
@font-face {
  font-family:'gt';
  font-weight:400;
  src:url('fonts/Gotham-Book.woff') format('woff'), local(times new romans);
}
@font-face {
  font-family:'gt';
  font-weight:600;
  src:url('fonts/Gotham-Medium.woff') format('woff'), local(times new romans);
}
@font-face {
  font-family:'gt';
  font-weight:700;
  src:url('fonts/Gotham-Bold.woff') format('woff'), local(times new romans);
}
@font-face {
  font-family:'tl';
  font-weight:600;
  src:url('fonts/timeless-woff-webfont.woff') format('woff'), local(times new romans);
}
@font-face {
  font-family:'ns';
  font-weight:400;
  src:url('/fonts/NotoSans-Regular.woff') format('woff'), local(times new romans);
}
@font-face {
  font-family:'ns';
  font-weight:600;
  src:url('fonts/NotoSans-Medium.woff') format('woff'), local(times new romans);
}
