@import 'font_face';
@import "variables";
@import "mixin";
@import 'reset';

body {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.calculator {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: $bg-white;
  .lot {
    padding: 14px 17px 13px 83px;
    position: relative;
    .img {
      width: 56px;
      height: 70px;
      position: absolute;
      left: 15px;
      top: 17px;
      img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .work-info {
      .sale-info {
        color: $text-lightgray;
        font-size: 10px;
        line-height: 12px;
        font-weight: 600;
        letter-spacing: 0;
        margin-bottom: 10px;
      }
      .artist {
        color: $text-black;
        font-size: 13px;
        line-height: 15px;
        font-weight: 700;
        letter-spacing: 0;
        text-transform: uppercase;
        margin-bottom: 1px;
        @include cut-multi-text(100%,15px,1);
      }
      .worktitle {
        color: $text-black;
        font-size: 15px;
        line-height: 17px;
        font-weight: 600;
        letter-spacing: 0;
        font-family: $font-family-worktitle;
        font-style: italic;
        margin-bottom: 2px;
        @include cut-multi-text(100%,17px,1);
      }
      .estimate {
        color: $text-lightgray;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: 0;
        margin-bottom: 3px;
      }
    }
  }
  .cal-calculator {
    padding: 9px 15px 16px 14px;
    background-color: $bg-lightgrey;
    .cal-title {
      padding: 2px 0 0 0;
      color: $text-darkgrey;
      font-size: 12.5px;
      line-height: 15px;
      font-weight: 600;
      letter-spacing: 0;
      margin-bottom: 13px;
    }
    .cal-box {
      background-color: transparent;
      position: relative;
      height: 44px;
      margin: 11px 0 14px 0;
      &:after {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $border-lightgrey;
      }
      .cal-currency {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          right: 4px;
          top: 17px;
          width: 8px;
          height: 12px;
          @include bg-image(transparent,'../img/icon_arrow_down2.png',no-repeat,scroll,center,right,8px,12px);
        }
        select {
          padding: 0 0 0 0;
          border: 0;
          background-color: blue;
          width: 62px;
          height: 100%;
          color: $text-grey;
          font-size: 20px;
          line-height: 20px;
          font-weight: 600;
          letter-spacing: -1px;
        }
      }
      .cal-input {
        display: inline-block;
        padding: 0 32px 0 63px;
        height: 100%;
        input {
          padding: 0 0 6px 5px;
          border: 0;
          background-color: red;
          width: 100%;
          height: 100%;
          color: $text-black;
          font-size: 20px;
          line-height: 20px;
          font-weight: 600;
          letter-spacing: 0;
          @include placeholder-color($text-lightgray3);
          @include placeholder-font-size(17.5px);
        }
      }
      .cal-btn-calculate {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 4px;
        .btn-calc {
          border: 0;
          width: 30px;
          height: 30px;
          border-radius: 2px;
          @include bg-image($bg-grey,'../img/icon_calc.png',no-repeat,scroll,center,center,18px,18px);
        }
      }
    }
    .cal-result {
      visibility: hidden;
      &.active {
        visibility: visible;
      }
      padding: 21px 0 0 17px;
      background-color: $bg-white;
      .cal-bid-price {
        padding: 0 0 9px 0;
        .title {
          color: $text-black2;
          font-size: 11px;
          line-height: 15px;
          font-weight: 600;
          letter-spacing: 0;
          font-family: $font-family-sub;
          margin-bottom: 7px;
        }
        .bid-price {
          color: $text-black;
          font-size: 20px;
          line-height: 20px;
          font-weight: 600;
          letter-spacing: 0;
          margin-bottom: 6px;
        }
        .bid-price-exchanged {
          color: $text-lightgray;
          font-size: 15px;
          line-height: 15px;
          font-weight: 600;
          letter-spacing: 0;
          margin-bottom: 9px;
        }
      }
      .cal-result-price {
        padding: 0 0 9px 0;
        .title {
          color: $text-black;
          font-size: 11px;
          line-height: 15px;
          font-weight: 600;
          letter-spacing: 0;
          font-family: $font-family-sub;
          margin-bottom: 7px;
        }
        .bid-price {
          color: $text-black;
          font-size: 20px;
          line-height: 20px;
          font-weight: 600;
          letter-spacing: 0;
          margin-bottom: 6px;
        }
        .bid-price-exchanged {
          color: $text-lightgray;
          font-size: 15px;
          line-height: 15px;
          font-weight: 600;
          letter-spacing: 0;
          margin-bottom: 10px;
        }
        .info {
          padding: 0 0 0 9px;
          color: $text-lightgray;
          font-size: 10px;
          line-height: 14px;
          font-weight: 600;
          letter-spacing: 0;
          margin-bottom: 1px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 6px;
            display: inline-block;
            width: 3px;
            height: 3px;
            border-radius: 3px;
            background-color: $text-lightgray;
          }
        }
      }
      .cal-buttons {
        height: 23px;
        position: relative;
        .btn-detail {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 0 17px 0 0;
          text-align: right;
          color: $text-lightgray;
          font-size: 8px !important;
          line-height: 10px;
          font-weight: 600;
          letter-spacing: 0;
          text-transform: uppercase;
          border: 0;
          width: 120px;
          height: 45px;
          @include bg-image(transparent,'../img/icon_detail.png',no-repeat,scroll,18px,24px,12.5px,12.5px);
          &:after {
            display: block;
            position: absolute;
            content: '';
            right: 17px;
            bottom: 15px;
            width: 57px;
            height: 1px;
            background-color: $border-lightgrey;
          }
        }
      }
    }
  }
  .lot-premium {
    .cal-premium-info {
      border-bottom: 1px solid $border-fairy;
      .title {
        padding: 14px 0 0 14px;
        height: 43px;
        color: $text-grey2;
        font-size: 11px;
        line-height: 15px;
        font-weight: 600;
        letter-spacing: 0;
        position: relative;
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          right: 16px;
          top: 17px;
          width: 10px;
          height: 6px;
          @include bg-image(transparent,'../img/icon_arrow_down.png',no-repeat,scroll,center,right,10px,6px);
        }
      }
      .description {
        display: none;
        padding: 15px 0 14px 14px;
        background-color: $bg-fairy;
        .text {
          padding: 0 0 3px 0;
          color: $text-grey;
          font-size: 11px;
          font-family: $font-family-sub;
          line-height: 15px;
          font-weight: 400;
          letter-spacing: 0;
        }
      }
      &.active {
        .title {
          &:after {
            @include bg-image(transparent,'../img/icon_arrow_up.png',no-repeat,scroll,center,right,10px,6px);
          }
        }
        .description {
          display: block;
        }
      }
    }
  }
}
.modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 26px 15px 25px 16px;
  background-color: rgba(0,0,0,0.7);
  .modal-contents {
    height: 100%;
    overflow-y: scroll;
    background-color: $bg-white;
    padding: 29px 33px 33px 31px;
    .title-area {
      padding: 0 0 25px 0;
      color: $text-black;
      text-align: center;
      font-size: 18.6px;
      line-height: 19px;
      font-weight: 600;
      letter-spacing: 0;
      border-bottom: 3px double $border-lightgrey;
      }
      .btn-close {
        position: fixed;
        bottom: 24px;
        left: 16px;
        @include calculator(width,'100% - 31px');
        height: 40px;
        background-color: $bg-gold;
        color: $text-white;
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        font-weight: 600;
        letter-spacing: 0;
        text-transform: uppercase;
      }
    }
    .contents-area {
      padding: 13px 0 0 2px;
      .subtitle {
        padding: 0 0 5px 0;
        color: $text-grey;
        font-size: 12px;
        line-height: 14px;
        font-family: $font-family-sub;
        font-weight: 400;
        letter-spacing: 0;
      }
      .price, .price-exchanged {
        display: inline-block;
        color: $text-black;
        font-size: 11.5px;
        line-height: 14px;
        font-family: $font-family-sub;
        font-weight: 600;
        letter-spacing: 0;
      }
      .price {
        padding: 1.5px 0 0 0;
      }
      .price-exchanged {
        font-weight: 400;
      }
      .btn-link {
        padding: 0 0 0 10px;
        float: right;
        text-decoration: underline;
        color: $text-grey;
        font-size: 8px;
        line-height: 15px;
        font-family: $font-family-sub;
        font-weight: 400;
        letter-spacing: 0;
        &.hide {
          display: none;
        }
        &.show {
          display: block;
        }
      }
      .detail {
        display: none;
        padding: 0 0 3px 10px;
        text-indent: 10px;
        color: $text-lightgray2;
        font-size: 10px;
        line-height: 15px;
        font-family: $font-family-sub;
        font-weight: 400;
        letter-spacing: 0;
      }
      li {
        padding: 0 0 11px 0;
        &.artist-resale-right {
          padding: 0 0 16px 0;
        }
        &.total-price {
          border-top: 1px dotted $border-lightgrey;
          border-bottom: 3px double $border-lightgrey;
          padding: 12px 0 18px 0;
          .subtitle {
            padding: 0 0 5px 0;
            color: $text-gold;
            font-size: 12px;
            line-height: 14px;
            font-family: $font-family-sub;
            font-weight: 400;
            letter-spacing: 0;
          }
          .price, .price-exchanged {
            font-size: 15px;
            line-height: 15px;
          }
        }
        &.others {
          padding: 10px 0 50px 5px;
          .info {
            padding: 0 0 0 0;
            color: $text-grey2;
            font-size: 11.5px;
            line-height: 16.5px;
            font-family: $font-family-sub;
            font-weight: 400;
            letter-spacing: 0;
          }
        }
        &.active {
          .detail {
            display: block !important;
          }
          .hide {
            display: block !important;
          }
          .show {
            display: none !important;
          }
        }
      }
  }
  &.active {
    display: block;
  }
}



//for publishing--------------------------------------------------------------------------------------
.bg {
  position: absolute;
  width: 100%;
  height: 3000px;
  overflow: hidden;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.8;
  z-index: $z-index-5;
}
.bg-calculator {background: transparent url('../img/bg_cal_start.jpg') no-repeat 0 -60px / 320px 568px;}
.bg-calculator-result {background: transparent url('../img/bg_cal_result_open.jpg') no-repeat 0 -60px / 320px 838px;}
.bg-calculator-detail {background: transparent url('../img/bg_cal_detail_opened.jpg') no-repeat 0 -60px / 320px 710.5px;}
