/* basic */

/* texts */
/* buttons */
.btn-normal {
    display: inline-block;
    padding: 3px 12px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background-color: #8b8b8b;
    border-radius: 2px;
}
.btn-normal:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #333333;
}

.btn-type1 {
    width: 100px;
    display: inline-block;
    margin-right: 6px;
    padding:16px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
    background-color: #fb7540;
    border-radius: 2px;
    border: 0;
}
.btn-type1:hover {
    text-decoration: none;
    background-color: #fa5616;
}

.btn-type2 {
    display: inline-block;
    margin-right: 6px;
    padding:16px 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
    background-color: #a8a8a8;
    border-radius: 2px;
    border: 0;
}

.btn-type2:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #757575;
}

.btn-major {
    display: inline-block;
    width: 88px ;
    height: 59px;
    text-indent: -200px;
    border: 0;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    background-color: #ffffff;
}

.btn-major:hover {
    background-color: #547495;
}

.btn-trivial {
    display: inline-block;
    padding: 10px;
    margin: 4px 4px 0 0;
    border: 0;
    border-radius: 2px;
    background-color: #e3e3e3;
}

.btn-trivial:hover {
    background-color: #7f7f7f;
    color: #ffffff;
}

.btn-tiny {
    display: inline-block;
    padding: 4px;
    margin: 4px 4px 0 0;
    font-size: 0.7em;
    color: #aaaaaa;
    border: 0;
    border-radius: 2px;
    background-color: #ffffff;
}

.btn-tiny:hover {
    color: #555555;
    background-color: #e3e3e3;
}

.btn-impact {
    display: inline-block;
    width: 100% ;
    height: 80px;
    text-indent: -200px;
    border: 0;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    background-color: #032b52;
}

.btn-impact:hover {
    background-color: #0977b0;
}

/*design list*/

.design-list {
    margin: 50px 10px 100px 30px;
    padding-top: 30px;
}

.design-list .items {
    display: inline-flex;
    flex-wrap: wrap;
}

.design-list .items .item {
    margin: 0 20px 30px 40px;
    padding: 10px;
    border: 1px solid #ffffff;
    list-style: none;
}

.design-list .items .item:hover {
    border: 1px solid #cdcdcd;
}

.design-list .items .item .date {
    padding: 4px;
    font: bold 11px/100% Arial;
    color: #b4b4b4;
    background-color: #d5d5d5;
}

.design-list .items .item .image > img {
    border: 1px solid #aaa;
    max-width: 300px;
    max-height: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-top:20px
}

.design-list .items .item .title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
    color: #eb4301;
    font-weight: bold;
    font-size: 1.5em;
}

.design-list .items .item .contents {
    text-align: center;
    color: #aaa;

}

.design-list .pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.main-image {
    text-align: center;
    margin: 0 0 100px 0;
}
.main-image > img {
    max-width: 400px;
    max-height: 300px;
    border:1px solid #eee;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* login */
.login {
    text-align: center;
    margin: 50px auto;
    width: 800px;
}

.login .title {
    font-size: 3em;
    font-weight: bold;
    color: #547495;
}

.login .title > span {
    color: #002d56;
}

.login .input {
    margin: 40px 0 20px 0;
}

.login .input > input[type=text] {
    width: 350px;
    padding: 10px;
    font-size: 1.4em;
    margin-bottom: 10px;

}

.list-image {
    display:inline-block;
}

.list-image img {
    max-width: 120px;
    max-height: 120px;
    border: 4px solid #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.list-row {
    /*white-space:nowrap;*/
}


.top-padding-30px {
    padding-top: 51px;
}

.top-margin-10px {
    margin-top: 10px;
}

.right-margin-30px {
    margin-right: 30px;
}

.navbar-black {
    background: #000;
    height: 50px;
    overflow: hidden;
}

.pagination {
    margin: 10px 0 0 40px
}