html, body, div, ul, ol, li, table, tr, td, h1, h2, h3, h4, p, span, form, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header.navbar .page-logo .logo-default {
  margin-top: 5px;
}

.theme-panel-li {
  width: 80px;
}

.page-content-white .theme-panel {
  position: relative;
  margin-top: 1px;
  background-color: transparent !important;
}
.page-content-white .theme-panel .toggler {
  background-color: transparent !important;
}
.page-content-white .theme-panel .toggler:hover {
  opacity: 0.3 !important;
}

.artworks .page-title {
  margin-top: 0;
}
.artworks .page-title .btn-groups {
  float: right;
}
.artworks .card-artwork {
  cursor: pointer;
  position: relative;
  padding: 10px 10px 10px 70px;
  border: 1px solid #e1e5ec;
  box-shadow: 0 0 0 0;
}
.artworks .card-artwork:hover {
  background-color: #fff;
}
.artworks .card-artwork:hover .text-bn {
  background-color: #555;
  color: #fff;
}
.artworks .card-artwork p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: block;
}
.artworks .card-artwork .img-artwork {
  position: absolute;
  top: 28px;
  left: 10px;
}
.artworks .card-artwork .img-artwork img {
  max-width: 50px;
  max-height: 50px;
}
.artworks .card-artwork .text-bn {
  margin-top: -10px !important;
  margin-left: -70px;
  margin-right: -10px;
  padding: 1px 10px 2px 10px;
  background-color: #e1e5ec;
}
.artworks .card-artwork .text-artist {
  font-size: 100%;
  font-weight: bold;
  margin: 6px 0 0 0 !important;
}
.artworks .card-artwork .text-worktitle {
  font-size: 110%;
  font-style: italic;
  color: #1B73BF;
  margin: 2px 0 0 0 !important;
  display: inline-block;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 400px;
  height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.artworks .card-artwork .text-description {
  margin: 0 0 0 0 !important;
  color: #777;
  display: inline-block;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 400px;
  height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text-condition {
  display: inline-block;
  display: inline-block;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 200px;
  height: 68px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-in {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border: 1px solid #e1e5ec;
  box-shadow: 0 0 0 0;
}
.card-in:hover {
  background-color: #fff;
}
.card-in:hover .text-type {
  background-color: #555;
  color: #fff;
}
.card-in:hover .text-days {
  color: #fff;
}
.card-in .text-type {
  margin-top: -10px !important;
  margin-left: -10px;
  margin-right: -10px;
  padding: 1px 10px 2px 10px;
  background-color: #e1e5ec;
}
.card-in .text-days {
  text-align: right;
  margin-top: -21px !important;
  height: 20px;
  margin-bottom: 10px;
}

.card-auction {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border: 1px solid #e1e5ec;
  box-shadow: 0 0 0 0;
}
.card-auction:hover {
  background-color: #fff;
}
.card-auction:hover .text-pay {
  background-color: #555;
  color: #fff;
}
.card-auction:hover .text-pay .bad {
  color: #ff7090;
}
.card-auction:hover .text-pay .good {
  color: #36e6ff;
}
.card-auction:hover .text-soldprice {
  color: #fff;
}
.card-auction .text-pay {
  margin-top: -10px !important;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding: 1px 10px 2px 10px;
  background-color: #e1e5ec;
}
.card-auction .text-pay .bad {
  color: #ED1C24;
}
.card-auction .text-pay .good {
  color: #1B73BF;
}
.card-auction .text-soldprice {
  text-align: right;
  margin-top: -21px !important;
  height: 20px;
  margin-bottom: 10px;
}
.card-auction .text-auction {
  display: inline-block;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 150px;
  height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #1B73BF;
}

.card-out {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border: 1px solid #e1e5ec;
  box-shadow: 0 0 0 0;
}
.card-out:hover {
  background-color: #fff;
}
.card-out:hover .text-out-type {
  background-color: #555;
  color: #fff;
}
.card-out .text-out-type {
  margin-top: -10px !important;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding: 1px 10px 2px 10px;
  background-color: #e1e5ec;
}
