@charset "utf-8";
@font-face {
    font-family:'gt';
    font-weight:200;
    src:url('../fonts/gotham-extralight.woff') format('woff'), local('time new roman');
}
@font-face {
    font-family:'gt';
    font-weight:300;
    src:url('../fonts/gotham-light.woff') format('woff'), local('time new roman');
}
@font-face {
    font-family:'gt';
    font-weight:400;
    src:url('../fonts/gotham-book.woff') format('woff'), local('time new roman');
}
@font-face {
    font-family:'gt';
    font-weight:600;
    src:url('../fonts/gotham-medium.woff') format('woff'), local('time new roman');
}
@font-face {
    font-family:'gt';
    font-weight:700;
    src:url('../fonts/gotham-bold.woff') format('woff'), local('time new roman');
}

/*body {*/
    /*background: transparent url("../images/1366.jpg") no-repeat center top;*/
/*}*/

.container-fluid {
    padding:0;
}

.description {
    /*text-align: justify;*/    
}

.logo {
    display: inline-block;
    margin: 30px 0 50px 0;
    padding: 2px 12px;
    width: 240px;
    font-family:'gt';
    font-weight:700;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #c72355;
    border: 4px solid #c72355;
    box-sizing: border-box;
    border-radius: 6px;
}

.info-summary-wide {
    background: #905460 url("../images/bg_pad.jpg") no-repeat center center;
    background-size: cover;
    vertical-align: bottom;
}

.info-summary {
    background: transparent url("../images/hand_big.png") no-repeat right bottom;
    background-size: auto 700px;
    padding-bottom: 600px;
}
.info-summary .context {
    font-family:"gt";
    margin-top: 0;
    color: #fff;
}

.info-summary .context .title {
    font-weight:300;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -2px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.info-summary .context .title strong {
    display: block;
    font-size: 34px;
    line-height: 40px;
    font-weight:700;
    letter-spacing: 0;
}

.info-summary .context .description {
    margin-top: 20px;
    font-weight:400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0,0,0,0.5);
}

.download {
    margin-top: 10px;
}

.btn-type1,
.btn-type1:hover,
.btn-type1:active,
.btn-type1:visited {
    display: inline-block;
    width: 100%;
    margin: 26px 10px 0 0;
    padding: 13px 17px;
    border: 0;
    font-weight:600;
    font-size:20px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(114,30,10,0.3);
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

.btn-type1:hover {
    background-color: rgba(114,30,10,0.5);
}

.btn-type1 .caret {
    display: inline-block;
    float: right;
    border: 0;
    width: 10px;
    height: 30px;
    background: transparent url("../images/icon_arrow.gif") no-repeat right center;
    -webkit-background-size:10px 17px;
    background-size:8px auto;

}

.btn-type1.appstore .icon {
    display: inline-block;
    float: left;
    width: 34px;
    height: 30px;
    background: transparent url("../images/apple.png") no-repeat left top;
    -webkit-background-size:25px 30px;
    background-size:25px 30px;

}

.btn-type1.playstore .icon {
    display: inline-block;
    float: left;
    width: 34px;
    height: 30px;
    background: transparent url("../images/android.png") no-repeat left top;
    -webkit-background-size:26px 30px;
    background-size:26px 30px;

}

/* info-section1 */
.info-section1-wide {
    background: #f8f8f8 url("../images/bg_bar01.gif") repeat-x left bottom;
}

.info-section1 {
    background: transparent url("../images/img01_small.png") no-repeat center bottom;
    background-size: auto 270px;
    padding-bottom: 320px;
}

.info-section1 .context {
    font-family:"gt";
    margin-top: 124px;
    text-align: center;
    color: #222;
}

.info-section1 .context .title {
    width: 100%;
    font-weight:400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -2px;
    text-transform: uppercase;
}
.info-section1 .context .title::after {
    content: '';
    display: block;
    width: 84px;
    height: 2px;
    background-color: #c72355;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 38px;
}

.info-section1 .context .description {
    margin: 0 auto;
    color: #777;
    font-weight:400;
    font-size: 18px;
    line-height: 24px;
    text-shadow: none;
    letter-spacing: -0.5px;
}

/* info-section2 */
.info-section2 {
    background: transparent url("../images/img02_small.jpg") no-repeat center bottom;
    background-size: auto 300px;
    padding-bottom: 350px;
}

.info-section2 .context {
    font-family:"gt";
    padding: 0;
    margin-top: 68px;
    text-align: center;
    color: #222;
}

.info-section2 .context .title {
    width: 100%;
    font-weight:400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -2px;
    text-transform: uppercase;
}
.info-section2 .context .title::after {
    content: '';
    display: block;
    width: 84px;
    height: 2px;
    background-color: #c72355;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 38px;
}

.info-section2 .context .description {
    margin: 0 auto;
    color: #777;
    font-weight:400;
    font-size: 18px;
    line-height: 24px;
    text-shadow: none;
    letter-spacing: -0.5px;
}

/* info-section3 */
.info-section3-wide {
    background: #fafafa url("../images/bg_bar02.gif") repeat-x left bottom;
}

.info-section3 {
    background: transparent url("../images/img03.png") no-repeat center bottom;
    background-size: auto 280px;
    padding-bottom: 300px;
}

.info-section3 .context {
    font-family:"gt";
    padding: 0;
    text-align: center;
    margin-top: 112px;
    color: #222;
}

.info-section3 .context .title {
    width: 100%;
    font-weight:400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -3px;
    text-transform: uppercase;

}
.info-section3 .context .title::after {
    content: '';
    display: block;
    width: 84px;
    height: 2px;
    background-color: #c72355;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 38px;
}

.info-section3 .context .description {
    margin: 0 auto;
    color: #777;
    font-weight:400;
    font-size: 18px;
    line-height: 24px;
    text-shadow: none;
    letter-spacing: -0.5px;
}

.badge1 {
    font-family: "gt";
    font-weight: 700;
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 4px 11px;
    font-size: 100%;
    text-transform: uppercase;
    color: #c72355;
    background-color: #FFFFFF;
    border: 2px solid #c72355;
    box-sizing: border-box;
    border-radius: 6px;
}


/* info-section4 */
.info-section4 {
    padding-bottom: 100px;
    margin: 0 auto;
}

.info-section4 .context {
    font-family:"gt";
    padding: 42px 0 0 0;
    margin-top: 70px;
    color: #222;
}


.info-section4 .context.context-advertise {
    padding-top: 60px;
    border-top: 2px solid #eeeeee;
}

.info-section4 .context .title {
    font-weight:600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.info-section4 .context .description {
    margin: 0 auto;
    color: #777;
    font-weight:400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    text-shadow: none;
    letter-spacing: -0.5px;
}

.link-type1,
.link-type1:hover {
    margin: 0;
    color: #c72355;
    font-weight:400;
    font-size: 20px;
    line-height: 26px;
    text-shadow: none;
    letter-spacing: -0.5px;
}

/* info-section5 */
.info-section5-wide {
    background: #905460 url("../images/bg_2.jpg") no-repeat center center;
    background-size: cover;
    vertical-align: bottom;
}

.info-section5 {
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 130px 0;
}
.info-section5 .context {
    font-family:"gt";
    margin-top: 14px;
    color: #fff;
}

.info-section5 .context .title {
    font-weight:600;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.info-section5 .download {
    margin-top: -14px;
}

.logo-app,
.logo-app:hover,
.logo-app:active,
.logo-app:visited {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 0;
    overflow: hidden;
    background: transparent url("../images/icon.png") no-repeat center center;
    background-size: 100% 100%;
}

.btn-type2,
.btn-type2:hover,
.btn-type2:active,
.btn-type2:visited {
    display: inline-block;
    margin: 26px 10px 0 0;
    padding: 13px 17px;
    border: 0;
    font-weight:600;
    font-size:20px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(114,30,10,0.3);
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

.btn-type2:hover {
    background-color: rgba(114,30,10,0.5);
}

.btn-type2.appstore .icon {
    display: inline-block;
    width: 200px;
    height: 50px;
    background: transparent url("../images/apple_b.png") no-repeat center center;
    -webkit-background-size:40px auto;
    background-size:40px auto;
}

.btn-type2.playstore .icon {
    display: inline-block;
    width: 200px;
    height: 50px;
    background: transparent url("../images/android_b.png") no-repeat center center;
    -webkit-background-size:40px auto;
    background-size:40px auto;
}

/* footer */
.footer-wide {
    text-align: center;
    background-color: #000;
}

.footer {
    padding: 90px 0 120px 0;
    font-family: "gt";
}

.logo-type2 {
    font-weight: 700;
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 6px 30px;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 12px;
}

.footer .copyright {
    margin: 40px 0 0 0;
    font-weight:200;
    font-size: 22px;
    color: #888888;
}

.footer .copyright strong {
    font-weight:600;
}

.logo-gmsart,
.logo-gmsart:hover {
    background: transparent url("../images/gnsart.png") no-repeat left bottom;
    background-size: 100% auto;
    color: rgba(0,0,0,0);
    text-decoration: none;
}

/* ipad - portrait */
@media (min-width: 768px){

    .info-summary-wide {
        background: #905460 url("../images/bg_pad.jpg") no-repeat center center;
        background-size: cover;
    }

    .info-summary {
        background: transparent url("../images/hand_big.png") no-repeat right bottom;
        background-size: auto 600px;
        padding-bottom:400px

    }
    .info-summary .context {
        margin-top: 30px;
    }

    .info-summary .context .title {
        font-weight:200;
        font-size: 64px;
        line-height: 70px;
        letter-spacing: 0;
    }

    .info-summary .context .title strong {
        font-size: 65px;
        line-height: 78px;
        letter-spacing: -2px;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    }

    .info-summary .context .description {
        margin-top: 28px;
        font-size: 20px;
        line-height: 26px;
        width: 610px;
        color: #fff;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    }

    .download {
        margin-top: 30px;
    }

    .btn-type1,
    .btn-type1:hover,
    .btn-type1:active,
    .btn-type1:visited {
        width: 200px;
        font-size:15px;
    }

    .btn-type1 .text {
        display: inline-block;
        float: left;
        line-height: 30px;
    }

    /* info-section1 */
    .info-section1 {
        background: transparent url("../images/img01_small.png") no-repeat center bottom;
        background-size: auto 400px;
        padding-bottom: 400px;
    }

    .info-section1 .context {
        margin-top: 124px;
        margin-bottom: 100px;
    }

    .info-section1 .context .title {
        font-size: 40px;
        line-height: 50px;
    }

    .info-section1 .context .description {
        font-size: 20px;
        line-height: 26px;
    }

    /* info-section2 */
    .info-section2 {
        background: transparent url("../images/img02_small.jpg") no-repeat center bottom;
        background-size: auto 450px;
        padding-bottom: 500px;
    }

    .info-section2 .context {
        margin-top: 124px;
        margin-bottom: 100px;
        text-align: center;
    }

    .info-section2 .context .title {
        font-size: 40px;
        line-height: 50px;
    }
    .info-section2 .context .title::after {
        margin: 0 auto;
        margin-top: 33px;
        margin-bottom: 38px;
    }

    .info-section2 .context .description {
        margin: 0 auto;
        color: #777;
        font-weight:400;
        font-size: 20px;
        line-height: 26px;
        text-shadow: none;
        letter-spacing: -0.5px;
    }

    /* info-section3 */
    .info-section3 {
        background: transparent url("../images/img03.png") no-repeat center bottom;
        background-size: auto 500px;
        padding-bottom: 570px;
    }

    .info-section3 .context {
        text-align: center;
    }

    .info-section3 .context .title {
        font-size: 40px;
        line-height: 50px;
    }
    .info-section3 .context .title::after {
        margin: 0 auto;
        margin-top: 33px;
        margin-bottom: 38px;
    }

    .info-section3 .context .description {
        font-size: 20px;
        line-height: 26px;
    }

    .badge1 {
        font-size: 18px;
    }


    /* info-section4 */
    .info-section4 .context.context-advertise {
        padding-top: 60px;
        border-top: 2px solid #eeeeee;
    }

    .info-section4 .context .title {
        font-size: 30px;
        line-height: 40px;
    }

    .info-section4 .context .description {
        font-size: 22px;
        line-height: 26px;
        text-align: left;
    }
}

/* ipad - landscape */
@media (min-width: 1024px){

    .info-summary-wide {
        background: #905460 url("../images/bg_1.jpg") no-repeat center center;
        background-size: cover;
    }

    .info-summary {
        background-size: auto 650px;
        padding-bottom:150px

    }
    .info-summary .context {
        margin-top: 30px;
    }

    .info-summary .context .title {
        font-weight:200;
        font-size: 64px;
        line-height: 70px;
        letter-spacing: 0;
    }

    .info-summary .context .title strong {
        font-size: 60px;
        line-height: 78px;
        letter-spacing: -2px;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    }

    .info-summary .context .description {
        margin-top: 28px;
        width: 610px;
        color: #fff;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    }

    .download {
        margin-top: 30px;
    }

    .btn-type1,
    .btn-type1:hover,
    .btn-type1:active,
    .btn-type1:visited {
        width: 200px;
        font-size:15px;
    }

    .btn-type1 .text {
        display: inline-block;
        float: left;
        line-height: 30px;
    }
    /* info-section1 */
    .info-section1 {
        background: transparent url("../images/img01_big.jpg") no-repeat center bottom;
        background-size: auto 400px;
        padding-bottom: 400px;
    }

    .info-section1 .context {
        margin-top: 124px;
        margin-bottom: 100px;
    }

    .info-section1 .context .title {
        font-size: 40px;
        line-height: 50px;
    }

    .info-section1 .context .description {
        width: 800px;
        font-size: 20px;
        line-height: 26px;
    }

    /* info-section2 */
    .info-section2 {
        background: transparent url("../images/img02_small.jpg") no-repeat center bottom;
        background-size: auto 450px;
        padding-bottom: 440px;
    }

    .info-section2 .context {
        margin-top: 124px;
        margin-bottom: 100px;
        text-align: center;
    }

    .info-section2 .context .title {
        font-size: 40px;
        line-height: 50px;
    }
    .info-section2 .context .title::after {
        margin: 0 auto;
        margin-top: 33px;
        margin-bottom: 38px;
    }

    .info-section2 .context .description {
        width: 800px;
        margin: 0 auto;
        color: #777;
        font-weight:400;
        font-size: 20px;
        line-height: 26px;
        text-shadow: none;
        letter-spacing: -0.5px;
    }

    /* info-section3 */
    .info-section3 {
        background: transparent url("../images/img03.png") no-repeat center bottom;
        background-size: auto 500px;
        padding-bottom: 570px;
    }

    .info-section3 .context {
        text-align: center;
    }

    .info-section3 .context .title {
        font-size: 40px;
        line-height: 50px;
    }
    .info-section3 .context .title::after {
        margin: 0 auto;
        margin-top: 33px;
        margin-bottom: 38px;
    }

    .info-section3 .context .description {
        width: 800px;
        font-size: 20px;
        line-height: 26px;
    }

    .badge1 {
        font-size: 18px;
    }


    /* info-section4 */
    .info-section4 .context.context-join {
        float: left;
        padding-top: 40px;
        padding-right: 20px;
    }
    .info-section4 .context.context-advertise {
        float: right;
        padding-top: 40px;
        border: 0;
    }

    .info-section4 .context .title {
        font-size: 30px;
        line-height: 40px;
    }

    .info-section4 .context .description {
        font-size: 22px;
        line-height: 30px;
        text-align: left;
    }
}

/* desktop */
@media (min-width: 1366px) {

    .info-summary-wide {
        background: #905460 url("../images/bg_1.jpg") no-repeat center center;
        background-size: cover;
    }

    .info-summary {
        background-size: auto 825px;
        padding-bottom: 130px;
    }
    .info-summary .context {
        margin-top: 80px;
        font-size: 28px;        
    }

    .info-summary .context .title {
        font-weight:200;
        font-size: 63px;
        line-height: 76px;
        text-shadow: none;
    }

    .info-summary .context .title strong {
        font-size: 65px;
        width: 1000px;
        line-height: 78px;
        letter-spacing: -2px;
    }

    .info-summary .context .description {
        font-size: 22px;
        line-height: 30px;
        margin-top: 28px;
        color: #fff;
    }

    .download {
        margin-top: 120px;
    }

    .btn-type1,
    .btn-type1:hover,
    .btn-type1:active,
    .btn-type1:visited {
        width: 180px;
        font-size:15px;
    }

    .btn-type1 .text {
        display: inline-block;
        float: left;
        line-height: 30px;
    }
    /* info-section1 */
    .info-section1-wide {
        background: #f8f8f8 url("../images/bg_bar01.gif") repeat-x left bottom;
    }

    .info-section1 {
        background: transparent url("../images/img01_big.jpg") no-repeat center bottom;
        padding-bottom: 470px;
    }

    .info-section1 .context {
        margin-top: 124px;
        text-align: center;
    }

    .info-section1 .context .title {
        font-size: 46px;
        line-height: 56px;
    }
    .info-section1 .context .title::after {
        margin: 0 auto;
        margin-top: 33px;
        margin-bottom: 38px;
    }

    .info-section1 .context .description {
        width: 900px;
        font-size: 20px;
        line-height: 26px;
    }

    /* info-section2 */
    .info-section2 {
        background: transparent url("../images/img02_big.jpg") no-repeat left 120px;
        padding-bottom: 340px;
    }

    .info-section2 .context {
        width: 510px;
        margin-top: 123px;
        float: right;
        color: #222;
        text-align: left;
    }

    .info-section2 .context .title {
        font-size: 46px;
        line-height: 56px;
    }
    .info-section2 .context .title::after {
        content: '';
        display: block;
        width: 84px;
        height: 2px;
        background-color: #c72355;
        margin-left: 0;
        margin-top: 33px;
        margin-bottom: 38px;
    }

    .info-section2 .context .description {
        width: 510px;
        font-size: 20px;
        line-height: 26px;
    }

    /* info-section3 */
    .info-section3-wide {
        background: #fafafa url("../images/bg_bar02.gif") repeat-x left bottom;
    }

    .info-section3 {
        background: transparent url("../images/img03.png") no-repeat right bottom;
        padding-bottom: 300px;
    }

    .info-section3 .context {
        font-family:"gt";
        padding: 0;
        width: 510px;
        margin-top: 112px;
        color: #222;
        text-align: left;
    }

    .info-section3 .context .title {
        font-weight:400;
        font-size: 46px;
        line-height: 56px;
        letter-spacing: -3px;
        text-transform: uppercase;

    }
    .info-section3 .context .title::after {
        content: '';
        display: block;
        width: 84px;
        height: 2px;
        background-color: #c72355;
        margin-left: 0;
        margin-top: 33px;
        margin-bottom: 38px;
    }

    .info-section3 .context .description {
        margin: 0 auto;
        width: 510px;
        color: #777;
        font-weight:400;
        font-size: 20px;
        line-height: 26px;
        text-shadow: none;
        letter-spacing: -0.5px;
    }

    .badge1 {
        font-size: 18px;
    }

    /* info-section4 */
    .info-section4 {
        padding-bottom: 100px;
        margin: 0 auto;
    }

    .info-section4 .context {
        padding: 42px 0 0 0;
        margin-top: 70px;
    }

    .info-section4 .context.context-join {
        padding-right: 100px;
    }

    .info-section4 .context.context-advertise {
        padding-left: 60px;
        border-left: 2px solid #eeeeee;
    }

    .info-section4 .context .title {
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -1px;
    }

    .info-section4 .context .description {
        font-size: 20px;
        line-height: 26px;
    }

    .link-type1,
    .link-type1:hover {
        font-size: 20px;
        line-height: 26px;
    }

}

/* wide desktop */
@media (min-width: 1920px) {

    .info-summary-wide {
        background: #905460 url("../images/bg_wide.jpg") no-repeat center top;
        background-size: cover;
    }
}
