.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) { //mobile-small
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) { //mobile-big
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) { //tablet
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {  //desktop
  .container {
    max-width: 1110px;
  }
}