@import 'common_sx';


.lot {
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  .detail {
    .lot-summary {
      padding: 0 0 32px 0;
      border-bottom: 1px solid $border-normal;
      .img {
        margin: 3px 0 0 0;
      }
      .artist-name {
        display: inline-block;
        margin: 21px 0 0 0;
        @include text-style(lot-artist-name);
      }
      .artist-desc {
        display: inline-block;
        margin: 0 0 0 3px;
        @include text-style(lot-artist-desc);
      }
      .worktitle {
        margin: 6px 0 0 0;
        @include text-style(lot-worktitle);
      }
      .work-desc {
        margin: 5px 0 0 0;
        @include text-style(lot-work-desc);
      }
    }
    .lot-detail {
      margin: 33px 0 0 0;
      .sold-price {
        display: inline-block;
        @include text-style(lot-sold-price);
      }
      .premium {
        display: inline-block;
        margin: 0 0 0 5px;
        @include text-style(lot-premium);
      }
      .estimate {
        margin: 7px 0 0 0;
        @include text-style(lot-estimate);
      }
      .sale-name {
        margin: 11px 0 0 0;
        @include text-style(lot-sale-name);
      }
      .sale-date {
        padding: 0 0 31px 0;
        border-bottom: 1px solid $border-normal;
        @include text-style(lot-sale-date);
      }
      .etc {
        margin: 34px 0 40px 0;
        .title {
          margin: 0 0 15px 0;
          @include text-style(lot-etc-title);
        }
        .context {
          @include text-style(lot-etc-context);
        }
      }
    }
    position: relative;
    .btns {
      position: absolute;
      right: 0;
      top: 0;
      .follow {
        cursor: pointer;
        margin: 3px 0 0 0;
        width: 33px;
        height: 33px;
        border: 0;
        background: transparent url('../images/btn_follow.png') no-repeat center center;
        &:hover {
          background: transparent url('../images/btn_follow_on.png') no-repeat center center;
        }
      }
      .share {
        cursor: pointer;
        margin: 0 0 0 4px;
        width: 33px;
        height: 33px;
        border: 0;
        background: transparent url('../images/btn_share.png') no-repeat center center;
        &:hover {
          background: transparent url('../images/btn_share_on.png') no-repeat center center;
        }
      }
    }
  }
  .related {
    margin: 0 0 0 0;
    padding: 12px 14px 20px 14px;
    background-color: $bg-table-tr;
    .title {
      @include text-style(lot-related-title);
    }
    .keywords {
      display: flex;
      flex-wrap: wrap;
      padding: 16px 48px 10px 0;
      .keyword {
        cursor: pointer;
        white-space: nowrap;
        margin: 0 6px 7px 0;
        padding: 4px 7px 0 11px;
        height: 22px;
        background-color: $bg-panel;
        &:hover {
          background-color: $bg-btn-primary;
          color: $text-btn-primary;
        }
        @include text-style(lot-related-keyword);
      }
      .btn-filter {
        position: absolute;
        right: 26px;
        top: 60px;
        .filter {
          cursor: pointer;
          margin: 0 0 0 0;
          width: 25px;
          height: 22px;
          border: 0;
          background: $bg-panel url('../images/icon_filter.png') no-repeat center center;
          &:hover {
            background: $bg-btn-primary url('../images/icon_filter_on.png') no-repeat center center;
          }
        }
      }
    }
    .related-lots {
      margin: 0 0 0 0;
      .related-lot {
        cursor: pointer;
        height: 377px;
        margin: 0 0 0 0;
        vertical-align: top;
        padding: 20px 0 0 0;
        border-top:1px solid $line-normal;
        &:hover .worktitle {
          text-decoration: underline;
        }
        .img {
          float: left;
          width: 100px;
          height: 93px;
          position: relative;
          img {
            max-width: 100px;
            max-height: 93px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
          }
        }
        .description {
          width: 100%;
          margin: 0 0 0 0;
          float: left;
          position: relative;
          .artist-name {
            margin: 10px 0 0 0;
            @include text-style(lot-related-artist-name);
            @include cut-multi-text(100%,20px,1);
          }
          .worktitle {
            margin: 1px 0 0 0;
            @include text-style(lot-related-worktitle);
            @include cut-multi-text(100%,24px,1);
          }
          .work-desc {
            margin: -2px 0 0 0;
            @include text-style(lot-related-work-desc);
            @include cut-multi-text(100%,54px,3);
          }
          .estimate {
            margin: 15px 0 0 0;
            @include text-style(lot-related-estimate);
          }
          .sold-price {
            margin: 3px 0 0 0;
            @include text-style(lot-related-sold-price);
          }
          .sale-name {
            margin: 16px 0 0 0;
            @include text-style(lot-related-sale-info);
            @include cut-multi-text(100%,20px,1);
          }
          .sale-date {
            margin: -3px 0 0 0;
            @include text-style(lot-related-sale-info);
          }
          .performance {
            position: absolute;
            right: 10px;
            top: -55px;
            display: inline-block;
            width: 57px;
            height: 20px;
            text-align: center;
            background-color: $bg-icon-good;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            color: $text-btn-primary;
            @include text-style(lot-related-performance);
            &::before {
              position: absolute;
              left: -34px;
              top: -4px;
              display: block;
              width: 28px;
              content: 'Low Est.';
              @include text-style(lot-related-performance-standard);
            }
          }
          .good {
            background-color: $bg-icon-good;
          }
          .normal {
            background-color: $bg-icon-normal;
          }
          .bad {
            background-color: $bg-icon-bad;
          }
        }
      }
    }
  }
}