@import 'common';

//main
html, body {
  height: 100%;
}

body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background: $bg-main url("../images/logo_big.png") no-repeat right bottom /100%;
}
.main-container {
  width: 100%;
  height: 100%;
  .inner-container {
    z-index: $z-index-2;
    padding: 0 0 0 0;
    .logo-small {
      display: block;
      margin: 10px 0 0 10px;
      width: 32.5px;
      height: 23.5px;
      background: transparent url('../images/logo_small.png') no-repeat left top / 100% 100%;
    }

    .text-header {
      margin: 10px 0 0 10px;
      @include text-style(text-header-sx);
      .quote {
        margin-left: 0;
        @include text-style(text-header-quote-sx);
      }
    }
    .text-subtitle {
      margin: 16px 0 0 10px;
      @include text-style(text-subtitle);
      .strong {
        @include text-style(text-subtitle-strong);
      }
    }
    .form-artist-search {
      position: relative;
      margin: 50px 0 0 0;
      .form-group {
        display: inline-block;
        float: left;
        height: 78px;
        .input {
          width: 100%;
          border: 0;
          border-top: 3px solid $border-search;
          border-bottom: 3px solid $border-search;
          background-color: $bg-default;
          padding: 0 32px 0 6px;
          margin: 0 0 0 0;
          @include placeholder-color($text-search-main-placeholder);
          @include text-style(text-search-main-sx);
        }
      }
      .btn-search {
        display: inline-block;
        float: left;
        cursor: pointer;
        width: 32px;
        height: 32px;
        margin: 24px 0 0 -87px;
        border: 0;
        overflow: hidden;
        text-indent: 5rem;
        background: transparent url('../images/icon_search.png') no-repeat center right / 100% 100%;
      }

    }
    .recommend-keyword {
      width: 100%;
      padding: 100px 20px 200px 20px;
      a {
        float: left;
        display: inline-block;
        position: relative;
        margin-right: 1.8rem;
        margin-top: 0.35rem;
        white-space: nowrap;
        @include text-style(link-searchable-sx);
        @include link-color($link-keyword);
        &::after {
          content: '';
          display: block;
          border-radius: 50%;
          position: absolute;
          right: -1rem;
          top: 0.5rem;
          width: 0.25rem;
          height: 0.25rem;
          background-color: $icon-dot;
        }
        &:last-child {
          &::after {
            content: '...';
            position: absolute;
            top: 0;
            right: -9px;
            width: 0;
            height: 0;
            @include text-style(link-searchable);
          }
        }
      }
    }
  }
}

.feedback {
  position: fixed;
  right: 48px;
  bottom: 90px;
  width: 79px;
  height: 80px;
  padding: 6px 0 0 18px;
  text-align: left;
  z-index: $z-index-max;
  @include text-style(btn-primary);
  @include box-style(btn-primary);
}


