<header>
    <span id="goHome"><h1>Live Auction Art</h1></span>
    <span id="btnRefresh" class="refresh"><img src="img/btn_refresh.png" alt="refresh"></span>
</header>
<div id="wrapper" class="t174">

    <div class="top_fix">
        <div class="choose_vendor scrollX" id="vendor_scroller">
            <ul style="width:750px;">
                <li>
                    <button id="vdAll" type="button" class="on">All</button>
                </li>
                <li>
                    <button id="vd0" type="button"><span class="c1">C</span>hristies</button>
                </li>
                <li>
                    <button id="vd1" type="button"><span class="c2">S</span>othebys</button>
                </li>
                <li>
                    <button id="vd2" type="button"><span class="c3">B</span>onhams</button>
                </li>
                <li>
                    <button id="vd3" type="button"><span class="c6">C</span>hina Guardian</button>
                </li>
                <li>
                    <button id="vd4" type="button"><span class="c4">P</span>hillips</button>
                </li>
                <li>
                    <button id="vd5" type="button"><span class="c5">P</span>oly</button>
                </li>
            </ul>
        </div>
        <div class="month_name">
            <button id="mon-prev" class="mon-prev"></button>
            <span class="mon-text">Loading.</span>
            <button id="mon-next" class="mon-next"></button>
        </div>
        <div class="days_scroll scrollX" id="day_scroller">
            <ul style="width:1870px;">
                <li id="d01"><a href="#day_01"><strong>1</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d02"><a href="#day_02"><strong>2</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d03"><a href="#day_03"><strong>3</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d04"><a href="#day_04"><strong>4</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d05"><a href="#day_05"><strong>5</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d06"><a href="#day_06"><strong>6</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d07"><a href="#day_07"><strong>7</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d08"><a href="#day_08"><strong>8</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d09"><a href="#day_09"><strong>9</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d10"><a href="#day_10"><strong>10</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d11"><a href="#day_11"><strong>11</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d12"><a href="#day_12"><strong>12</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d13"><a href="#day_13"><strong>13</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d14"><a href="#day_14"><strong>14</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d15"><a href="#day_15"><strong>15</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d16"><a href="#day_16"><strong>16</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d17"><a href="#day_17"><strong>17</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d18"><a href="#day_18"><strong>18</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d19"><a href="#day_19"><strong>19</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d20"><a href="#day_20"><strong>20</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d21"><a href="#day_21"><strong>21</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d22"><a href="#day_22"><strong>22</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d23"><a href="#day_23"><strong>23</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d24"><a href="#day_24"><strong>24</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d25"><a href="#day_25"><strong>25</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d26"><a href="#day_26"><strong>26</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d27"><a href="#day_27"><strong>27</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d28"><a href="#day_28"><strong>28</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d29"><a href="#day_29"><strong>29</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d30"><a href="#day_30"><strong>30</strong><span class="dayname"></span><span class="icos"></span></a></li>
                <li id="d31"><a href="#day_31"><strong>31</strong><span class="dayname"></span><span class="icos"></span></a></li>
            </ul>
        </div>
    </div>

    <ul class="auction_list">
    </ul>

</div>
<span id="go_top"></span>
