<header>
	<span id="goHome"><h1>Live Auction Art</h1></span>
	<span class="go_back"><img src="img/btn_back.png"></span>
	<!--<span class="refresh"><img src="img/btn_refresh.png"></span>-->
</header>
<div id="wrapper" class="lot_view">		<!-- upcoming: t145, ongoing: t175, past: t185 -->
	<div class="top_fix move_other_auction" style="display:none">
		<div id="auctionInfoWrapper">
			<a href="javascript:void(0)" class="open_others a" onclick="$(this).toggleClass('on');$(this).parent().next('.other_auctions').slideToggle();">
				<span id="ico" class=""></span> <!-- 진행중인 경우 class에 b 추가됩니다. -->
				<div class="cont">
					<p id="vendor" class="vendor"></p>
					<p id="aucDate" class="vendor"></p>
					<p id="title" class="title"></p>
				</div>
			</a>
			<!-- 시작전 -->
			<div id="upcoming" class="auction_sale_info upcoming" style="display:none">
				<span class="b"></span>
				<div class="remains">
					<span class="tit">Starts in</span>
					<span class="times"></span>
					<span id="lotNum" class="tit"> Lot. 124</span>
				</div>
			</div>
			<!-- 진행중인 경매 -->
			<div id="ongoing" class="auction_sale_info ongoing" style="display:none">
				<span class="b"></span>
				<p id="lotNum" class="tit"> Lot. 123 </p>
			</div>
			<!-- 종료된 경매 -->
			<div id="past" class="auction_sale_info past" style="display:none">
				<span class="b"></span>
				<p class="tit">SALE TOTAL</p>
				<div class="prices">
					<strong class="p1">&pound;15,500,000</strong>
					<span class="txt">Hammer , </span>
				</div>
				<p id="lotNum" class="tit"> Lot. 124</p>
				</div>
			</div>
		</div>

		<ul class="other_auctions scrollY" style="display:none">
		</ul>
		
	</div>
	<div class="lot_summary" id="lot_summary_fix" style="display:none">
		<div class="left">
			<p class="lot_no">Lot. 127</p>
			<div class="thumb img_align"><img src='img/loading_detail.png' class='lazyResult' data-original='' /></div>
		</div>
		<div class="cont">
			<p class="artist">Marc Chagall</p>
			<p class="title">corbeille de fruits et bouquet amoureuse</p>
			<p class="price1">&pound;7,000 - &pound;10,000 (&dollar;10,983 - &dollar;15,690)</p>
			<p class="price2">
				<span class="currency">&pound;15,500,000</span>
				<!--<span class="usd"></span>-->
				<span class="txt">hammer</span>
			</p>
		</div>
	</div>
	<div class="lot_detail">
		<div class="move_btn">
			<!-- a href="javascript:void(0)" class="btn prev"><span class="invisible">go to previous lot</span></a -->
			<!-- a href="javascript:void(0)" class="btn next"><span class="invisible">go to next lot</span></a -->
		</div>
		<div class="default_info">
			<div class="lot_image img_align" id="lot_image_div">
				<img src='img/no_images_s.png' class='lazyResult' data-original='' style="max-width:250px;max-height:250px;margin:auto 0" alt="lot image" />
			</div>
			
			<div class="similar_lots" style="display:none">
				<h3 class="tit"></h3>
				<div class="thumbs">
					<!--<div class="t_wrap">-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_00.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_01.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_02.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb view_more_lot" onclick="view_more_or_less(this)"><strong>6</strong><span>more</span></a>-->
					<!--</div>-->
					<!--<div class="view_more_lots">-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_03.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_04.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_05.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_06.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_07.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_00.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_01.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_02.png" alt="artwork title here..." /></a>-->
						<!--<a href="javascript:void(0)" class="thumb img_align"><img src="../asset/temp/thumb_03.png" alt="artwork title here..." /></a>-->
					<!--</div>-->
				</div>
			</div>
			
			<div class="artist_info">
				<p class="name" id="artistName"></p>
				<p class="info" id="artistOriginYear"></p>
			</div>
			<h2 class="art_title" id="workTitle"></h2>

			<div id="price_info" class="price_info">
			</div>

			<div class="art_info">
				<p id="artistSigned"></p>
				<p id="category"></p>
				<p id="medium"></p>
				<p id="yearExecuted"></p>
				<p id="size"></p>
			</div>
		</div>
		<div class="detail_info">
			<h3 id="provenance" class="tit">Provenance</h3>
			<div id="provenanceCont" class="cont">
				<p id="s_provenance"></p>
			</div>
			
			<h3 id="exhibition" class="tit">Exhibition</h3>
			<div id="exhibitionCont" class="cont">
				<p id="s_exhibition"></p>
			</div>
			
			<h3 id="literature" class="tit">Literature</h3>
			<div id="literatureCont" class="cont">
				<p id="s_literature"></p>
			</div>
			
			<h3 id="condition" class="tit">Condition Report</h3>
			<div id="conditionCont" class="cont">
				<p id="s_condition"></p>
			</div>
			
			<h3 id="other" class="tit">Other Description</h3>
			<div id="otherCont" class="cont">
				<p id="s_other"></p>
			</div>
		</div>
		
	</div>
	
</div>
<span id="go_top"></span>
