<header>
	<span id="goHome"><h1>Live Auction Art</h1></span>
	<span class="go_back"><img src="img/btn_back.png"></span>
	<!--<span class="refresh"><img src="img/btn_refresh.png"></span>-->
</header>
<div id="wrapper" class="lot_list">		<!-- upcoming: t145, ongoing: t175, past: t185 -->
	<div class="top_fix move_other_auction">
		<div id="auctionInfoWrapper">
			<a class="open_others a">
				<span id="ico"></span> <!-- 진행중인 경우 class에 b 추가됩니다. -->
				<div class="cont">
					<p id="vendor" class="vendor"></p>
					<p id="aucDate" class="vendor"></p>
					<p id="title" class="title"></p>
				</div>
			</a>
			<!-- 시작전 -->
			<div id="upcoming" class="auction_sale_info upcoming">
				<span class="b"></span>
				<div class="remains">
					<span class="tit">Starts in</span>
					<span class="times"></span>
				</div>
			</div>
			<!-- 진행중인 경매 -->
			<div id="ongoing" class="auction_sale_info ongoing" style="display:none">
				<span class="b"></span>
				<p class="tit"> Current Bid : Lot. 123 </p>
			</div>
			<!-- 종료된 경매 -->
			<div id="past" class="auction_sale_info past" style="display:none">
				<span class="b"></span>
				<p class="tit">SALE TOTAL</p>
				<div class="prices">
					<strong class="p1">&pound;15,500,000</strong>
					<!--<span class="p2">&dollar;15,500,000</span>-->
					<span class="txt">Hammer</span>
				</div>
			</div>
		</div>

		<ul class="other_auctions scrollY">
		</ul>
		
	</div>
	
	
	<ul id="lotList" class="auction_list">
	</ul>

</div>
<span id="go_top"></span>