@import 'common_xs';

//login, main
.bgdark {
  background-color: $bg-dark;
}
.container-main {
  .header-container {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $bg-dark;
    .logo {
      float: left;
      cursor: pointer;
      margin: 0 0 0 10px;
      width: 196px;
      height: 45px;
      background: transparent url('../images/bi-logo@2x.png') no-repeat 20px 20px/ 177px 20px;
    }
    .sites {
      display: none;
    }
  }
  .inner-container {
    padding: 60px 0 200px 0;
    .form-login {
      width: 100%;
      padding: 50px 30px 30px 30px;
      .form-group {
        min-height: 56px;
      }
      .form-check {
        margin-top:29px;
        border: 0;
        text-align: left;
      }
      .form-btns {
        margin-top:30px;
      }
      .form-link {
        padding-top: 10px;
        text-align: right;
      }
      .form-out {
        padding-top: 85px;
      }
    }
    .form-artist-search {
      width: 100%;
      padding: 50px 30px 30px 30px;
      .form-group {
        width: 100%;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid $border-search;
        .input-bgdark  {
          /* The animation code */
          @keyframes bar-search-main {
            10%   {border-left-color: $bg-dark;}
            30% {border-left-color: $bar-input-cursor;}
            100%   {border-left-color: $bg-dark;}
          }
          animation-name: bar-search-main;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          float: left;
          margin:0 0 0 0;
          border: 0;
          border-left: 2px solid $bg-dark;
          @include calculator(width,'100% - 40px');
          height: 56px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          background-color: transparent;
          padding: 6px 0 0 10px;
          text-indent: 1px;
          &:focus {
            animation: none;
          }
          @include text-style(text-search-main);
        }
        .btn-search {
          display: inline-block;
          float: left;
          cursor: pointer;
          width: 40px;
          height: 54px;
          border: 0;
          background: $bg-dark;
          text-indent: 100px;
          overflow: hidden;
          @include overlap-image($bg-dark,'../images/icon_search.png',23px,24px);
          &:after {
            left: unset;
            right: 10px;
            top: 16px;
          }
        }
      }
      .description {
        margin: 128px 0 0 -1px;
        p {
          text-align: left;
          margin-bottom: 18px;
          @include text-style(text-default-bgdark);
        }
      }
      .layer-search {
        display: none;
      }
      &.active {
        .layer-search {
          display: block;
          position: absolute;
          width: 504px;
          margin-left: -2px;
          background-color: $bg-gray;
          .artist {
            display: block;
            cursor: pointer;
            text-align: left;
            padding: 12px 20px;
            margin: 15px 0;
            &:first-child {
              padding-top: 15px;
            }
            &:hover {
              background-color: $bg-gray-hover;
            }
            .name {
              @include text-style(text-search-layer-bold);
              .matching {
                @include text-style(text-search-layer-bold);
                color: $text-default-bgdark;

              }
            }
            .description {
              margin-left: 2px;
              @include text-style(text-search-layer-normal);
            }
          }
        }
      }
    }
  }
  .footer-main {
    display: block;
    width: 100%;
    height: 35px;
    padding-top: 9px;
    position: fixed;
    bottom: 0;
    background-color: $bg-dark;
    .copyright {
      z-index: $z-index-min;
      text-align: center;
      @include text-style(text-footer-main-xs);
    }
  }
}

//artists, lots, lot ...
.container {
  &.artists {
    .inner-container {
      &>.keyword {
        width: 100%;
        height: 209px;
        background-color: $bg-dark;
        .title {
          max-width: $width-inner-container;
          margin: 0 auto;
          padding: 38px 0 0 75px;
          @include text-style(text-keyword-title);
      }
        .word {
          max-width: $width-inner-container;
          margin: 0 auto;
          padding: 12px 0 0 79px;
          @include text-style(text-keyword-big);
      }
    }
      .submenu {
        background-color: $bg-light;
        height: 64px;
        .area {
          max-width: $width-inner-container;
          margin: 0 auto;
          height: 100%;
          .btn {
            float: left;
            border: 0;
            display: inline-block;
            overflow: hidden;
            width: 218px;
            height: 64px;
            padding: 19px 56px 0 56px;
            text-align: center;
            @include text-style(text-submenu);
            &.active {
              @include text-style(text-submenu-active);
              background-color: $bg-white;
              .icon {
                &:after {
                  opacity: 1;
              }
            }
          }
            &:hover {
              background-color: $bg-lightgray;
              text-decoration: none;
          }
        }
      }
    }
      .result-count {
        max-width: $width-inner-container;
        margin: 0 auto;
        margin-top: 58px;
        padding: 0 0 19px 10px;
        border-bottom: 1px solid $border-table;
        @include text-style(text-artist-result-count);
        .count {
          font-weight: 700;
      }
    }
      .results {
        max-width: $width-inner-container;
        margin: 0 auto;
        .no-result {
          padding: 18px 40px 17.5px 60px;
          .title {
            margin: 0 0 16px 0;
            @include text-style(text-artist-result-name-matching);
            letter-spacing: 0.9px;
        }
          .description {
            color: $text-lightgray;
        }
          .btns {
            text-align: center;
            margin: 176px 0 0 0;
        }
      }
        .result {
          border-bottom: 1px solid $border-table;
          display: block;
          padding: 18px 40px 17.5px 60px;
          @include text-style(text-artist-result-name);
          @include overlap-image(transparent,'../images/icon_arrow_big_right.png',11px,17px);
          &:after {
            left: unset;
            right: 28px;
            top: -webkit-calc(50% - 7.5px);
            top:    -moz-calc(50% - 7.5px);
            top:         calc(50% - 7.5px);
            opacity: 0.3;
        }
          &:hover {
            &:after {
              opacity: 1;
          }
        }
          .matching {
            @include text-style(text-artist-result-name-matching);
        }
          .description {
            @include text-style(text-artist-result-description);
        }
      }
    }
  }
}
  &.lots {
    .inner-container {
      background-color: $bg-light;
      .keyword {
        width: 100%;
        height: 209px;
        background-color: $bg-dark;
        .title {
          max-width: $width-inner-container;
          margin: 0 auto;
          padding: 17px 0 0 56px;
          @include text-style(text-keyword-title);
      }
        .word {
          max-width: $width-inner-container;
          margin: 0 auto;
          padding: 36px 0 0 55px;
          @include text-style(text-keyword-big);
      }
    }
      .form-filters {
        .default {
          background-color: $bg-white;
          padding-top: 20px;
          height: 328px;
          .filters {
            width: $width-inner-container;
            margin: 0 auto;
            position: relative;
            .filter {
              float: left;
              border-top: 1px solid $border-filter;
              .header {
                margin: 19px 0 0 0;
                .title {
                  float: left;
                  @include text-style(text-filter-title);

                  .unit {
                    @include text-style(text-filter-title-description);
                }
              }

                .btn-link-tiny {
                  float: right;
              }
            }
              .contents {
                border-top:1px solid transparent; //Don't remove!
                clear: both;
                margin-top: 20px;
                width: 100%;
                .group {
                  &.half {
                    width: 200px;
                    float: left;
                }

                  .subtitle {
                    margin: 25px 0 10px 0;
                    @include text-style(text-filter-subtitle);
                }

                  .inputs {
                    height: 25px;
                    margin-top: 10px;

                    .input-small {
                      width: 97px;
                      float: left;
                  }

                    .to {
                      float: left;
                      display: inline-block;
                      padding: 10px 7px 8px 8px;
                      @include text-style(text-small);
                  }
                }

                  .words {
                    margin: 0 0 20px 0;

                    .word {
                      margin: 9px 0 9px 0;

                      .form-check-label {
                        margin-left: 11px;
                    }
                  }
                }
              }
            }
              &.category {
                width: 402px;
            }
              &.year {
                margin-left: 41px;
                width: 221px;
            }
              &.size {
                margin-left: 41px;
                width: 221px;
            }
              &.price {
                margin-left: 36px;
                width: 221px;
            }
          }
            .btn-down-toggle {
              position: absolute;
              padding: 4px 4px 4px 10px;
              text-align: right;
              top: 283px;
              right: 0;
              @include text-style(text-little-small);
          }
        }
      }
        .more {
          display: none;
          background-color: $bg-white;
          height: 235px;
          .filters {
            width: $width-inner-container;
            margin: 0 auto;
            position: relative;
            .filter {
              float: left;
              border-top: 1px solid $border-filter;
              width: 100%;
              .header {
                margin: 19px 0 0 0;
                .title {
                  float: left;
                  @include text-style(text-filter-title);

                  .unit {
                    @include text-style(text-filter-title-description);
                }
              }
                .btn-link-tiny {
                  float: right;
              }
            }
              .contents {
                border: 1px solid transparent;
                clear: both;
                margin-top: 20px;
                width: 100%;
                .group {
                  &.half {
                    width: 200px;
                    float: left;
                }

                  .subtitle {
                    margin: 25px 0 10px 0;
                    @include text-style(text-filter-subtitle);
                }

                  .inputs {
                    height: 25px;
                    margin-top: 10px;

                    .input-small {
                      width: 97px;
                      float: left;
                  }
                    .to {
                      float: left;
                      display: inline-block;
                      padding: 10px 7px 8px 8px;
                      @include text-style(text-small);
                  }
                }

                  .words {
                    margin: 0 0 20px 0;

                    .word {
                      margin: 9px 0 9px 0;

                      .form-check-label {
                        margin-left: 11px;
                    }
                  }
                }
              }
            }
              &.title {
                clear: both;
                width: 402px;
                height: 177px;
                margin-top: 18px;
                padding-top: 8px;
            }
              &.auction-house {
                width: 478px;
                margin-top: 18px;
                margin-left: 44px;
            }
              &.sale-title {
                width: 478px;
                margin-top: 14px;
                margin-left: 44px;
                border-top: 0;
            }
              &.sale-date {
                width: 221px;
                margin-top: -77px;
                margin-left: 39px;
            }
              &.lot-number {
                width: 221px;
                margin-top: 15px;
                margin-left: 39px;
                border-top: 0;
            }
          }
            .btn-down-toggle {
              position: absolute;
              padding: 4px 4px 4px 10px;
              text-align: right;
              top: 210px;
              right: 0;
              @include text-style(text-little-small);
          }
        }
      }
        .btns {
          background-color: $bg-light;
          border-top: 1px solid #line-gray;
          width: 100%;
          padding: 30px 0 0 30px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
        &.open {
          .default {
            .btn-down-toggle {
              display: none;
          }
        }
          .more {
            display: block;
        }
      }
    }
      .result-area {
        width: $width-inner-container;
        margin: 0 auto;
        margin-top: 92px;
        .search-words {
          padding-right: 200px;
          margin: 18px 0 0 0;
          .word {
            cursor: pointer;
            display: inline-block;
            padding: 9px 10px 6px 9px;
            margin: 0 4px 6px 0;
            background-color: $bg-darkgray;
            @include text-style(text-badge);
            &:after {
              content: 'X';
              color: $text-darkgray;
              padding-left: 10px;
          }
            &:hover {
              background-color: $bg-gray;
              &:after {
                color: $text-white;
            }
          }
        }
      }
        .text-header {
          display: inline-block;
          padding-right: 25px;
          margin: 1px 0 0 26px;
          @include text-style(text-artists-header);
          position: relative;
          text-transform: uppercase;
          &:before {
            content: '';
            position: absolute;
            left: -26px;
            top: 2px;
            margin: 0;
            width: 9px;
            height: 48px;
            background-color: $border-artist-header;
        }
          &:after {
            content: '';
            position: absolute;
            right: -5px;
            top: 3px;
            margin: 0;
            width: 21px;
            height: 21px;
            background: transparent url("../images/icon_info.png") no-repeat center center;
        }
          .description {
            margin: -2px 0 0 1px;
            @include text-style(text-title-desc);
        }
      }
        .result-count {
          margin: 31px 0 0 0;
          @include text-style(text-artist-result-count);
      }
        .sort {
          position: relative;
          cursor: pointer;
          display: inline-block;
          float: right;
          margin: -25px 0 0 0;
          padding: 4px 0px 4px 10px;
          &:hover {
            text-decoration: underline;
        }
          .sorted {
            margin: 0 0 0 0;
            @include text-style(text-selected);
            position: relative;
            &:after {
              content: '';
              position: absolute;
              right: -18px;
              top: 8px;
              margin: 0;
              width: 7px;
              height: 6px;
              background: transparent url("../images/icon_dropdown.png") no-repeat center center;
          }
        }
          .options {
            display: none;
            position: absolute;
            right: 0;
            top: 30px;
            background-color: $bg-default;
            z-index: $z-index-5;
            @include box-style(select-options);
            &.active {
              display: block;
          }
            .option {
              cursor: pointer;
              @include text-style(text-select-target);
              border: 1px solid $border-normal;
              border-bottom: 0;
              padding: 6px 0 8px 26px;
              width: 204px;
              &:last-child {
                border-bottom: 1px solid $border-normal;
            }
              &:hover {
                background-color: $bg-fairy;
            }
          }
        }
      }
        .results {
          width: 100%;
          background-color: $bg-white;
          margin: 11px 0 0 0;
          thead {
            tr {
              .col {
                border: 0;
                border-bottom: 1px solid $border-table;
                text-align: center;
                height: 47px;
                padding: 0 0 0 0;
                @include text-style(text-table-th);
                &.details {
                  width: 604px;
              }
                &.info {
                  width: 208px;
              }
            }
          }
        }

          tbody {
            tr {
              td {
                height: 200px;
                border-bottom: 1px solid $border-table;
                cursor: pointer;
                position: relative;
                &.lot-detail {
                  vertical-align: top;
                  padding: 40px 50px 0 180px;
                  position: relative;
                  .img {
                    width: 110px;
                    height: 110px;
                    position: absolute;
                    left: 50px;
                    top: 30px;
                    img {
                      max-width: 100%;
                      max-height: 100%;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                  }
                }
                  .work-info {
                    .artist {
                      margin-bottom: 6px;
                      @include text-style(text-table-artist);
                      @include cut-multi-text(100%,18px,1);
                  }
                    .worktitle {
                      margin-bottom: 10px;
                      @include text-style(text-table-worktitle);
                      @include cut-multi-text(100%,24px,1);
                  }
                    .summary {
                      @include text-style(text-table-summary);
                      @include cut-multi-text(100%,54px,3);
                  }
                }
              }
                &.sale-info {
                  vertical-align: top;
                  padding-top: 44px;
                  .date {
                    @include text-style(text-table-date);
                    margin-bottom: 15px;
                }
                  .upcoming {
                    @include box-style(badge);
                }
                  .vendor {
                    @include text-style(text-table-vendor);
                }
                  .sale {
                    @include text-style(text-table-summary);
                    @include cut-multi-text(100%,18px,1);
                }
                  .lot {
                    @include text-style(text-table-summary);
                }
              }
                &.price {
                  vertical-align: top;
                  padding-top: 41px;
                  .estimate {
                    margin-bottom: 16px;
                    @include text-style(text-table-estimate);
                    @include cut-multi-text(100%,23px,1);
                    &.custom-currency {
                      margin-top: -18px;
                      margin-bottom: 16px;
                      font-size: 14px;
                  }
                }
                  .sold {
                    @include text-style(text-table-sold);
                    .premium {
                      display: inline-block;
                      margin: 4px 0 0 0;
                      @include text-style(text-table-sold-desc);
                  }
                    &.custom-currency {
                      @include text-style(text-table-estimate);
                      font-size: 14px;
                  }
                }
              }
            }
              &:hover {
                background-color: $bg-fairy;
            }
          }
        }
      }
        .paging {
          .prev {
            .icon-arrow-left {
              @include overlap-image(transparent,'../images/icon_arrow_main_left.png',10px,18px);
              &:after{
                left:-18px;
                opacity: 0.3;
            }
          }
            &:hover {
              color: $text-black;
              text-decoration: none;
              .icon-arrow-left {
                &:after{
                  opacity: 1;
              }
            }
          }
        }
          .num {

        }
          .active {

        }
          .next {
            .icon-arrow-right {
              @include overlap-image(transparent,'../images/icon_arrow_main_right.png',10px,18px);
              &:after{
                left: unset;
                right: -20px;
                opacity: 0.3;
            }
          }
            &:hover {
              color: $text-black;
              text-decoration: none;
              .icon-arrow-right {
                &:after{
                  opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
  &.lot {
    .inner-container {
      background-color: $bg-light;
      .lot-summary {
        background-color: $bg-white;
        border-bottom: 1px solid $line-lightgray;
        .data {
          max-width: $width-inner-container;
          margin: 0 auto;
          padding: 78px 0 51px 138px;
          position: relative;
          .lot-img {
            position: absolute;
            left: 0;
            top: 81px;
            width: 110px;
            height: 110px;
            text-align: center;
            img {
              max-width: 100%;
              max-height: 100%;
          }
        }
          .guarantee {
            position: absolute;
            left: 19px;
            top: 212px;
            width: 64px;
            height: 46px;
            img {
              max-width: 100%;
              max-height: 100%;
          }
        }
          .artist-name {
            margin: 0 0 3px 0;
            @include text-style(lot-artist-name);
        }
          .artist-desc {
            margin: 0 0 16px 0;
            @include text-style(lot-artist-desc);
        }
          .worktitle {
            margin: 0 0 4px 0;
            @include text-style(lot-worktitle);
        }
          .work-desc {
            margin: 0 0 12px 1px;
            @include text-style(lot-work-desc);
        }
      }
    }
      .lot-comparables {
        background-color: $bg-white;
        border-bottom: 1px solid $line-lightgray;
        .data {
          max-width: $width-inner-container;
          margin: 0 auto;
          padding: 37px 0 32px 138px;
          position: relative;
          .title {
            display: inline-block;
            @include text-style(lot-comparables-title);
        }
          .images {
            margin-top: 7px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .img {
              display: inline-block;
              height: 56px;
              margin: 0 5px 5px 0;
              position: relative;
              border:1px solid transparent;
              &:hover {
                border:1px solid $border-normal;

            }
              img {
                height: 100%;
            }
          }
            .more {
              display: inline-block;
              width : 56px;
              height: 56px;
              padding-top: 11px;
              text-align: center;
              @include text-style(lot-comparables-text);
          }
        }
      }
    }
      .lot-sale-info {
        background-color: $bg-white;
        border-bottom: 1px solid $line-lightgray;
        .data {
          max-width: $width-inner-container;
          margin: 0 auto;
          padding: 41px 0 0 134px;
          position: relative;
          .estimate {
            margin: 10px 0 11px 0;
            @include text-style(lot-estimate);
            &.custom-currency {
              margin: -10px 0 8px 0;
          }
        }
          .sold-price {
            display: inline-block;
            margin: 0 0 5px 0;
            @include text-style(lot-sold-price);
            &.custom-currency {
              display: block;
              @include text-style(lot-sold-price-custom-currency);
          }
        }
          .premium {
            display: inline-block;
            margin: 0 0 0 5px;
            @include text-style(lot-premium);
        }
          .sale-date {
            padding: 30px 0 2px 1px;
            @include text-style(lot-sale-date);
        }
          .sale-vendor {
            padding: 0 0 2px 0;
            @include text-style(lot-sale-vender);
        }
          .sale-name {
            margin: 0 0 0 0;
            @include text-style(lot-sale-name);
        }
          .sale-lot-number {
            padding: 0 0 77px 0;
            @include text-style(lot-sale-lot-number);
        }
      }
    }
      .lot-detail {
        .data {
          max-width: $width-inner-container;
          margin: 0 auto;
          padding: 76px 0 95px 134px;
          position: relative;
          .etc {
            padding: 0 0 40px 0;
            .title {
              margin: 0 0 21px 0;
              @include text-style(lot-etc-title);
          }
            .context {
              padding: 0 0 0 2px;
              @include text-style(lot-etc-context);
          }
        }
      }
    }
  }
}
}

