@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato-Regular"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato-Italic"), url("../fonts/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato-Italic.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local("Lato-Semibold"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 600;
  src: local("Lato-SemiboldItalic"), url("../fonts/Lato-SemiboldItalic.ttf") format("truetype"), url("../fonts/Lato-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato-Bold"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato-BoldItalic"), url("../fonts/Lato-BoldItalic.ttf") format("truetype"), url("../fonts/Lato-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato-Heavy"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato-HeavyItalic"), url("../fonts/Lato-HeavyItalic.ttf") format("truetype"), url("../fonts/Lato-HeavyItalic.woff") format("woff");
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PTF55F"), url("../fonts/PTF55F.ttf") format("truetype"), url("../fonts/PTF55F.woff") format("woff");
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local("PTF56F"), url("../fonts/PTF56F.ttf") format("truetype"), url("../fonts/PTF56F.woff") format("woff");
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PTF75F"), url("../fonts/PTF75F.ttf") format("truetype"), url("../fonts/PTF75F.woff") format("woff");
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local("PTF76F"), url("../fonts/PTF76F.ttf") format("truetype"), url("../fonts/PTF76F.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("OpenSans-Light"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("OpenSans-LightItalic"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("OpenSans-Italic"), url("../fonts/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans-Italic.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("OpenSans-Semibold"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local("OpenSans-SemiboldItalic"), url("../fonts/OpenSans-SemiboldItalic.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("OpenSans-BoldItalic"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 900;
  src: local("OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 900;
  src: local("OpenSans-ExtraBoldItalic"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
}
html, body, div, ul, ol, li, table, tr, td, h1, h2, h3, h4, p, span, form, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  color: #272727;
  line-height: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272727;
}
a:hover {
  text-decoration: underline;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  padding-top: 57px;
  padding-bottom: 200px;
  z-index: 20;
}

input, button, select {
  box-sizing: border-box;
}
input:focus, button:focus, select:focus {
  outline: none;
}

input[type="text"] {
  border: 1px solid #dddddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table th {
  font-family: "Lato";
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
  color: #9a9a9a;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
}
table tbody tr:hover {
  background-color: #f7f7f7;
}

.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background-color: #202020;
  padding: 0;
  border-bottom: 3px solid #c69c6d;
  z-index: 90;
}
.top-navigation .container .location {
  display: flex;
  text-transform: uppercase;
}
.top-navigation .container .location li {
  display: inline-block;
  margin: 15px 28px 0 0;
  font-family: "Open Sans";
  letter-spacing: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.3rem;
  padding: 0;
}
.top-navigation .container .location li .nav-link {
  padding: 0;
  margin: 0.25rem 0 0 0;
}
.top-navigation .container .location li .nav-link:link {
  color: #efefef;
  text-decoration: none;
}
.top-navigation .container .location li .nav-link:hover {
  text-decoration: underline;
}
.top-navigation .container .location li .nav-link:visited {
  color: rgba(239, 239, 239, 0.5);
  text-decoration: none;
}
.top-navigation .container .location li .nav-link:active {
  outline: none;
  text-decoration: underline;
}
.top-navigation .container .location .logo-top {
  cursor: pointer;
  margin: 12px -2px 16px 0;
  padding-left: 88px;
  width: 66px;
  height: 31px;
  background: transparent url("../images/logo_navigation.png") no-repeat top left;
}
.top-navigation .container .location .normal {
  position: relative;
}
.top-navigation .container .location .normal::after {
  content: '';
  position: absolute;
  right: -17px;
  top: -5px;
  margin: 1rem 0 1rem 0.8rem;
  width: 5px;
  height: 9px;
  background: transparent url("../images/icon_navigation.png") no-repeat center right;
}
.top-navigation .container .location .normal .nav-link {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 160px;
  overflow: hidden;
}
.top-navigation .container .location .active .nav-link {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 250px;
  overflow: hidden;
}
.top-navigation .container .location .active .nav-link:link {
  color: #d6af63;
  text-decoration: none;
}
.top-navigation .container .location .active .nav-link:hover {
  text-decoration: underline;
}
.top-navigation .container .location .active .nav-link:visited {
  color: rgba(214, 175, 99, 0.5);
  text-decoration: none;
}
.top-navigation .container .location .active .nav-link:active {
  outline: none;
  text-decoration: underline;
}
.top-navigation .container .form-top-search {
  float: right;
  display: inline-block;
  position: relative;
  margin: 9px 0 0 0;
  background-color: #ffffff;
}
.top-navigation .container .form-top-search .input {
  width: 348px;
  height: 37px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  padding: 5px 0 4px 18px;
  font-family: "PT Serif";
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: #4e4e4e;
  line-height: 1.3rem;
}
.top-navigation .container .form-top-search .input.placeholder {
  color: #9a9a9a;
}
.top-navigation .container .form-top-search .input:-moz-placeholder {
  color: #9a9a9a;
}
.top-navigation .container .form-top-search .input::-webkit-input-placeholder {
  color: #9a9a9a;
}
.top-navigation .container .form-top-search .input:-ms-input-placeholder {
  color: #9a9a9a;
}
.top-navigation .container .form-top-search .btn-search {
  float: right;
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 55px;
  height: 37px;
  overflow: hidden;
  text-indent: 5rem;
  background: transparent url("../images/icon_search_small.png") no-repeat center 9px;
}

.container {
  max-width: 1110px;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.paging {
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 400;
  color: #9a9a9a;
  font-style: normal;
  line-height: 15px;
  position: relative;
}
.paging a {
  line-height: 45px;
}
.paging .prev {
  position: absolute;
  top: 0;
  left: 19px;
  width: 64px;
  height: 45px;
}
.paging .prev:link {
  color: #707070;
  text-decoration: none;
}
.paging .prev:hover {
  text-decoration: underline;
}
.paging .prev:visited {
  color: rgba(112, 112, 112, 0.5);
  text-decoration: none;
}
.paging .prev:active {
  outline: none;
  text-decoration: underline;
}
.paging .prev::before {
  content: '';
  position: absolute;
  left: 1px;
  top: 16px;
  margin: 0 0 0 -20px;
  width: 10px;
  height: 12px;
  background: transparent url("../images/icon_arrow2.png") no-repeat center center;
}
.paging a.num {
  margin: 0 0 0 0;
  width: 43px;
  height: 45px;
  text-align: center;
}
.paging a.num:link {
  color: #9a9a9a;
  text-decoration: none;
}
.paging a.num:hover {
  text-decoration: underline;
}
.paging a.num:visited {
  color: rgba(154, 154, 154, 0.5);
  text-decoration: none;
}
.paging a.num:active {
  outline: none;
  text-decoration: underline;
}
.paging a.active:link {
  color: #272727;
  text-decoration: none;
}
.paging a.active:hover {
  text-decoration: underline;
}
.paging a.active:visited {
  color: rgba(39, 39, 39, 0.5);
  text-decoration: none;
}
.paging a.active:active {
  outline: none;
  text-decoration: underline;
}
.paging .next {
  position: absolute;
  top: 0;
  right: 19px;
  width: 64px;
  height: 45px;
  text-align: right;
}
.paging .next:link {
  color: #707070;
  text-decoration: none;
}
.paging .next:hover {
  text-decoration: underline;
}
.paging .next:visited {
  color: rgba(112, 112, 112, 0.5);
  text-decoration: none;
}
.paging .next:active {
  outline: none;
  text-decoration: underline;
}
.paging .next::before {
  content: '';
  position: absolute;
  right: 1px;
  top: 16px;
  margin: 0 -20px 0 0;
  width: 10px;
  height: 12px;
  background: transparent url("../images/icon_arrow3.png") no-repeat center center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #202020;
}
.footer .container {
  position: relative;
}
.footer .container .btn-top {
  border: 0;
  position: absolute;
  top: -71px;
  right: -8px;
  display: inline-block;
  cursor: pointer;
  width: 69px;
  height: 69px;
  background: transparent url("../images/btn_top.png") no-repeat right bottom;
}
.footer .container .sites {
  margin: 0 0 -14px 0;
}
.footer .container .sites li {
  display: inline-block;
  margin: 24px 19px 0 -1px;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 400;
  color: #8a8a8a;
  line-height: 16px;
  position: relative;
}
.footer .container .sites li:last-child::after {
  display: none;
}
.footer .container .sites li::after {
  content: '';
  position: absolute;
  right: -13px;
  top: 1px;
  width: 2px;
  height: 15px;
  background-color: #4d4d4d;
}
.footer .container .sites li a:link {
  color: #898989;
  text-decoration: none;
}
.footer .container .sites li a:hover {
  text-decoration: underline;
}
.footer .container .sites li a:visited {
  color: rgba(137, 137, 137, 0.5);
  text-decoration: none;
}
.footer .container .sites li a:active {
  outline: none;
  text-decoration: underline;
}
.footer .container .logo {
  margin-bottom: 6px;
  height: 23px;
  background: transparent url("../images/logo_footer.png") no-repeat center center;
}
.footer .container .copyright {
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 400;
  color: #8a8a8a;
  line-height: 18px;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.5;
  z-index: 90;
}

.bg-main {
  background: transparent url("../images/bg_main_1920x1080.png") no-repeat center center/1920px 1080px;
}

.bg-artists {
  background: transparent url("../images/bg_artists_1110x1080.png") no-repeat top center/1110px 1080px;
}

.bg-lots {
  background: transparent url("../images/bg_lots_1110x1080.png") no-repeat top center/1110px 1779px;
}

.bg-lots2 {
  background: transparent url("../images/bg_lots2_1110x1080.png") no-repeat top center/1110px 1779px;
}

.bg-lot {
  background: transparent url("../images/bg_lot_1110x1733.png") no-repeat top center/1110px 1733px;
}

.lots {
  margin-top: 40px;
  padding-bottom: 51px;
  position: relative;
  display: flex;
}
.lots .filters {
  width: 235px;
  margin-right: 25px;
}
.lots .filters .filter-area .filter-title {
  padding: 0 0 0 15px;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 600;
  color: #272727;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
}
.lots .filters .filter-area .filter-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  margin: 0 0 0 0;
  width: 9px;
  height: 2px;
  background-color: #d0d0d0;
}
.lots .filters .filter-area .filter-title .description {
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
  color: #707070;
  font-style: normal;
  line-height: 17px;
  text-transform: none;
}
.lots .filters .filter-area .filter {
  padding: 15px 0 13px 16px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #dddddd;
}
.lots .filters .filter-area .filter li {
  cursor: pointer;
  padding: 0 0 8px 21px;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
  color: #898989;
  line-height: 16px;
  text-transform: capitalize;
  position: relative;
}
.lots .filters .filter-area .filter li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 0 0 0;
  width: 14px;
  height: 14px;
  background: transparent url("../images/icon_unchecked.png") no-repeat center center;
}
.lots .filters .filter-area .filter li:hover {
  text-decoration: underline;
}
.lots .filters .filter-area .filter .active {
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
  color: #272727;
  line-height: 16px;
  text-transform: capitalize;
}
.lots .filters .filter-area .filter .active::before {
  background: transparent url("../images/icon_checked.png") no-repeat center center;
}
.lots .filters .filter-area .range .range-input {
  margin: 9px 0 0 -21px;
  position: relative;
}
.lots .filters .filter-area .range .range-input::after {
  content: '';
  position: absolute;
  left: 103px;
  top: 13px;
  margin: 0 0 0 0;
  width: 9px;
  height: 1px;
  background-color: #dddddd;
}
.lots .filters .filter-area .range .range-input input {
  width: 93px;
  height: 27px;
  padding: 0 0 0 11px;
}
.lots .filters .filter-area .range .range-input input.placeholder {
  color: #9a9a9a;
}
.lots .filters .filter-area .range .range-input input:-moz-placeholder {
  color: #9a9a9a;
}
.lots .filters .filter-area .range .range-input input::-webkit-input-placeholder {
  color: #9a9a9a;
}
.lots .filters .filter-area .range .range-input input:-ms-input-placeholder {
  color: #9a9a9a;
}
.lots .filters .filter-area .range .range-input .from {
  margin: 0 28px 0 0;
}
.lots .filters .filter-area .search {
  position: relative;
  padding-bottom: 49px;
}
.lots .filters .filter-area .search .input {
  float: left;
  width: 184px;
  height: 27px;
  padding: 0 0 0 9px;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
  color: #272727;
  line-height: 16px;
}
.lots .filters .filter-area .search .input.placeholder {
  color: #9a9a9a;
}
.lots .filters .filter-area .search .input:-moz-placeholder {
  color: #9a9a9a;
}
.lots .filters .filter-area .search .input::-webkit-input-placeholder {
  color: #9a9a9a;
}
.lots .filters .filter-area .search .input:-ms-input-placeholder {
  color: #9a9a9a;
}
.lots .filters .filter-area .search .input.placeholder {
  font-style: italic;
}
.lots .filters .filter-area .search .input:-moz-placeholder {
  font-style: italic;
}
.lots .filters .filter-area .search .input::-webkit-input-placeholder {
  font-style: italic;
}
.lots .filters .filter-area .search .input:-ms-input-placeholder {
  font-style: italic;
}
.lots .filters .filter-area .search .btn-search {
  float: left;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #dddddd;
  border-left: 0;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 27px;
  overflow: hidden;
  text-indent: 5rem;
  background: #fff url("../images/icon_search_tiny.png") no-repeat center center;
}
.lots .filters .filter-area .btn {
  position: relative;
  padding-bottom: 64px;
}
.lots .filters .filter-area .btn li {
  width: 42px;
  height: 42px;
  border: 1px solid #dcdcdc;
  border-right: 0;
  text-align: center;
  float: left;
  padding: 12px 0 0 0;
}
.lots .filters .filter-area .btn li:last-child {
  border-right: 1px solid #dcdcdc;
}
.lots .filters .filter-area .btn li::before {
  display: none;
}
.lots .filters .filter-area .btn .active {
  background-color: #e7e7e7;
}
.lots .filters .filter-area .size-range {
  margin: -127px 0 103px 77px;
  width: 177px;
  height: 24px;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: 400;
  color: #9a9a9a;
  font-style: italic;
  line-height: 38px;
}
.lots .filters .filter-area .size-range .num {
  color: #a8835a;
}
.lots .filters .reset-search {
  text-align: right;
  position: relative;
  margin: -10px 2px 100px 0;
}
.lots .filters .reset-search a:link {
  color: #707070;
  text-decoration: none;
}
.lots .filters .reset-search a:hover {
  text-decoration: underline;
}
.lots .filters .reset-search a:visited {
  color: rgba(112, 112, 112, 0.5);
  text-decoration: none;
}
.lots .filters .reset-search a:active {
  outline: none;
  text-decoration: underline;
}
.lots .filters .reset-search::before {
  content: '';
  position: absolute;
  right: 90px;
  top: 1px;
  margin: 0 0 0 0;
  width: 14px;
  height: 14px;
  background: transparent url("../images/icon_reset.png") no-repeat center center;
}
.lots .result-area {
  width: 850px;
}
.lots .result-area .text-header {
  display: inline-block;
  padding-right: 25px;
  margin: 1px 0 0 26px;
  font-family: "Lato";
  font-size: 28px;
  letter-spacing: 0;
  font-weight: 600;
  color: #272727;
  line-height: 110%;
  position: relative;
  text-transform: uppercase;
}
.lots .result-area .text-header::before {
  content: '';
  position: absolute;
  left: -26px;
  top: 2px;
  margin: 0;
  width: 9px;
  height: 48px;
  background-color: #707070;
}
.lots .result-area .text-header::after {
  content: '';
  position: absolute;
  right: -5px;
  top: 3px;
  margin: 0;
  width: 21px;
  height: 21px;
  background: transparent url("../images/icon_info.png") no-repeat center center;
}
.lots .result-area .text-header .description {
  margin: -2px 0 0 1px;
  font-family: "Open Sans";
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
  color: #9a9a9a;
  font-style: normal;
  line-height: 22px;
  text-transform: none;
}
.lots .result-area .result-count {
  margin: 31px 0 0 0;
  font-family: "Lato";
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: #707070;
  line-height: 18px;
}
.lots .result-area .sort {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin: -21px 0 0 0;
  padding: 10px 0 0 0;
}
.lots .result-area .sort:hover {
  text-decoration: underline;
}
.lots .result-area .sort .sorted {
  margin: -9px 18px 0 0;
  font-family: "Lato";
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: #707070;
  font-style: normal;
  line-height: 22px;
  position: relative;
}
.lots .result-area .sort .sorted::after {
  content: '';
  position: absolute;
  right: -18px;
  top: 8px;
  margin: 0;
  width: 7px;
  height: 6px;
  background: transparent url("../images/icon_dropdown.png") no-repeat center center;
}
.lots .result-area .sort .options {
  position: absolute;
  right: 0;
  top: 107px;
  background-color: #fff;
  z-index: 60;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px rgba(247, 247, 247, 0.7);
  box-shadow: 4px 4px 4px rgba(247, 247, 247, 0.7);
  border: 0;
  color: 4px 4px 4px rgba(247, 247, 247, 0.7);
  background-color: 4px 4px 4px rgba(247, 247, 247, 0.7);
}
.lots .result-area .sort .options .option {
  cursor: pointer;
  font-family: "Lato";
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: #707070;
  font-style: normal;
  line-height: 22px;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
  padding: 6px 17px 8px 14px;
}
.lots .result-area .sort .options .option:last-child {
  border-bottom: 1px solid #dcdcdc;
}
.lots .result-area .sort .options .option:hover {
  background-color: #f7f7f7;
}
.lots .result-area .results {
  margin: 11px 0 0 0;
}
.lots .result-area .results thead {
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}
.lots .result-area .results thead th {
  padding: 19px 0 14px 1px;
  margin: 0;
}
.lots .result-area .results thead .col-details {
  width: 262px;
  padding-left: 109px;
}
.lots .result-area .results thead .col-date {
  width: 145px;
}
.lots .result-area .results thead .col-info {
  width: 198px;
}
.lots .result-area .results thead .col-price {
  width: 134px;
}
.lots .result-area .results tbody {
  cursor: pointer;
}
.lots .result-area .results tbody tr {
  height: 124px;
  border-bottom: 1px solid #e5e5e5;
}
.lots .result-area .results tbody .lot-detail {
  vertical-align: top;
  padding: 14px 0 0 9px;
}
.lots .result-area .results tbody .lot-detail:hover .worktitle {
  text-decoration: underline;
}
.lots .result-area .results tbody .lot-detail .img {
  float: left;
  width: 100px;
  height: 93px;
  position: relative;
}
.lots .result-area .results tbody .lot-detail .img img {
  max-width: 100px;
  max-height: 93px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lots .result-area .results tbody .lot-detail .worktitle {
  margin: 14px 0 0 18px;
  float: left;
  font-family: "PT Serif";
  font-size: 17px;
  letter-spacing: 0;
  font-weight: 400;
  color: #272727;
  font-style: italic;
  line-height: 18px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 220px;
  overflow: hidden;
}
.lots .result-area .results tbody .lot-detail .summary {
  margin: 6px 0 0 18px;
  float: left;
  font-family: "Open Sans";
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
  color: #707070;
  font-style: normal;
  line-height: 17px;
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 220px;
  height: 54px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.lots .result-area .results tbody .sale-date .date {
  margin: 0 0 0 0;
  font-family: "Open Sans";
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
  color: #707070;
  font-style: normal;
  line-height: 17px;
}
.lots .result-area .results tbody .sale-date .upcoming {
  margin-top: 2px;
  font-family: "Open Sans";
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
  color: #c19a4f;
  font-style: normal;
  line-height: 17px;
  position: relative;
}
.lots .result-area .results tbody .sale-date .upcoming::after {
  content: '';
  position: absolute;
  left: 63px;
  top: 7px;
  margin: 0;
  width: 13px;
  height: 8px;
  background: transparent url("../images/icon_arrow.png") no-repeat center center;
}
.lots .result-area .results tbody .sale-info {
  vertical-align: top;
}
.lots .result-area .results tbody .sale-info .vendor {
  margin: 21px 0 0 0;
  font-family: "Open Sans";
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
  color: #272727;
  font-style: normal;
  line-height: 15px;
  text-transform: uppercase;
}
.lots .result-area .results tbody .sale-info .sale {
  margin: 9px 0 0 1px;
  font-family: "Open Sans";
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
  color: #707070;
  font-style: normal;
  line-height: 17px;
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 150px;
  height: 36px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.lots .result-area .results tbody .sale-info .lot {
  margin: 5px 0 0 0;
  font-family: "Open Sans";
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
  color: #898989;
  font-style: normal;
  line-height: 15px;
}
.lots .result-area .results tbody .price .estimate {
  margin: 0 0 0 0;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 400;
  color: #707070;
  font-style: normal;
  line-height: 23px;
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 120px;
  height: 44px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.lots .result-area .results tbody .price .sold {
  margin: 4px 0 0 0;
  font-family: "PT Serif";
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 700;
  color: #181818;
  font-style: normal;
  line-height: 15px;
}
.lots .result-area .results tbody .price .sold .premium {
  display: block;
  margin: 4px 0 0 0;
  font-family: "Open Sans";
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
  color: #9a9a9a;
  font-style: normal;
  line-height: 15px;
}
