@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato-Regular"), url("../fonts/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local("Lato-Semibold"), url("../fonts/Lato-Semibold.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato-Bold"), url("../fonts/Lato-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato-Heavy"), url("../fonts/Lato-Heavy.woff") format("woff");
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PTF55F"), url("../fonts/PTF55F.woff") format("woff");
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PTF75F"), url("../fonts/PTF75F.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("OpenSans-Light"), url("../fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("OpenSans-Semibold"), url("../fonts/OpenSans-Semibold.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 900;
  src: local("OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
}
html, body, div, ul, ol, li, table, tr, td, h1, h2, h3, h4, p, span, form, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  color: #272727;
  line-height: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272727;
}
a:hover {
  text-decoration: underline;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  padding-top: 103px;
  padding-bottom: 132px;
  z-index: 20;
}

input, button, select {
  box-sizing: border-box;
}
input:focus, button:focus, select:focus {
  outline: none;
}

input[type="text"] {
  border: 1px solid #dddddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table th {
  font-family: "Lato";
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
  color: #9a9a9a;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
}
table tbody tr:hover {
  background-color: #f7f7f7;
}

.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #202020;
  padding: 0;
  border-bottom: 3px solid #c69c6d;
  z-index: 90;
}
.top-navigation .container .location {
  display: flex;
  text-transform: uppercase;
}
.top-navigation .container .location li {
  display: inline-block;
  margin: 4px 28px 0 0;
  font-family: "Open Sans";
  letter-spacing: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 110%;
  padding: 0;
}
.top-navigation .container .location li .nav-link {
  padding: 0;
  margin: 0.25rem 0 0 0;
}
.top-navigation .container .location li .nav-link:link {
  color: #efefef;
  text-decoration: none;
}
.top-navigation .container .location li .nav-link:hover {
  text-decoration: underline;
}
.top-navigation .container .location li .nav-link:visited {
  color: rgba(239, 239, 239, 0.5);
  text-decoration: none;
}
.top-navigation .container .location li .nav-link:active {
  outline: none;
  text-decoration: underline;
}
.top-navigation .container .location .logo-top {
  cursor: pointer;
  z-index: 90;
  margin: 12px -2px 16px 10px;
  padding-left: 88px;
  width: 66px;
  height: 31px;
  background: transparent url("../images/logo_navigation.png") no-repeat top left;
}
.top-navigation .container .location .home {
  position: relative;
}
.top-navigation .container .location .home::after {
  content: '';
  position: absolute;
  right: -17px;
  top: -9px;
  margin: 1rem 0 1rem 0.8rem;
  width: 5px;
  height: 9px;
  background: transparent url("../images/icon_navigation.png") no-repeat center right;
}
.top-navigation .container .location .normal {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 172px;
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 100%;
  height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.top-navigation .container .location .active {
  display: block;
  margin: 0 0 0 0;
  padding: 4px 4px 0 95px;
  position: absolute;
  left: 0;
  top: 20px;
}
.top-navigation .container .location .active .nav-link {
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 100%;
  height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.top-navigation .container .location .active .nav-link:link {
  color: #d6af63;
  text-decoration: none;
}
.top-navigation .container .location .active .nav-link:hover {
  text-decoration: underline;
}
.top-navigation .container .location .active .nav-link:visited {
  color: rgba(214, 175, 99, 0.5);
  text-decoration: none;
}
.top-navigation .container .location .active .nav-link:active {
  outline: none;
  text-decoration: underline;
}
.top-navigation .container .form-top-search {
  position: absolute;
  left: 0;
  top: 46px;
  width: 100%;
  display: block;
  margin: 9px 0 0 0;
  padding: 0 10px;
}
.top-navigation .container .form-top-search .input {
  width: 100%;
  height: 37px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  padding: 5px 0 4px 18px;
  background-color: #ffffff;
  font-family: "PT Serif";
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: #4e4e4e;
  line-height: 1.3rem;
}
.top-navigation .container .form-top-search .input.placeholder {
  color: #9a9a9a;
}
.top-navigation .container .form-top-search .input:-moz-placeholder {
  color: #9a9a9a;
}
.top-navigation .container .form-top-search .input::-webkit-input-placeholder {
  color: #9a9a9a;
}
.top-navigation .container .form-top-search .input:-ms-input-placeholder {
  color: #9a9a9a;
}
.top-navigation .container .form-top-search .btn-search {
  position: absolute;
  right: 10px;
  top: 0;
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 45px;
  height: 37px;
  overflow: hidden;
  text-indent: 5rem;
  background: transparent url("../images/icon_search_small.png") no-repeat center 9px;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.paging {
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 400;
  color: #9a9a9a;
  font-style: normal;
  line-height: 15px;
  position: relative;
}
.paging a {
  line-height: 45px;
}
.paging .prev {
  overflow: hidden;
  text-indent: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 45px;
}
.paging .prev:link {
  color: #707070;
  text-decoration: none;
}
.paging .prev:hover {
  text-decoration: underline;
}
.paging .prev:visited {
  color: rgba(112, 112, 112, 0.5);
  text-decoration: none;
}
.paging .prev:active {
  outline: none;
  text-decoration: underline;
}
.paging .prev::before {
  content: '';
  position: absolute;
  left: 24px;
  top: 16px;
  margin: 0 0 0 -20px;
  width: 10px;
  height: 12px;
  background: transparent url("../images/icon_arrow2.png") no-repeat center center;
}
.paging a.num {
  margin: 0 0 0 0;
  width: 38px;
  height: 45px;
  text-align: center;
}
.paging a.num:link {
  color: #9a9a9a;
  text-decoration: none;
}
.paging a.num:hover {
  text-decoration: underline;
}
.paging a.num:visited {
  color: rgba(154, 154, 154, 0.5);
  text-decoration: none;
}
.paging a.num:active {
  outline: none;
  text-decoration: underline;
}
.paging a.active:link {
  color: #272727;
  text-decoration: none;
}
.paging a.active:hover {
  text-decoration: underline;
}
.paging a.active:visited {
  color: rgba(39, 39, 39, 0.5);
  text-decoration: none;
}
.paging a.active:active {
  outline: none;
  text-decoration: underline;
}
.paging .next {
  overflow: hidden;
  text-indent: 40px;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 45px;
  text-align: right;
}
.paging .next:link {
  color: #707070;
  text-decoration: none;
}
.paging .next:hover {
  text-decoration: underline;
}
.paging .next:visited {
  color: rgba(112, 112, 112, 0.5);
  text-decoration: none;
}
.paging .next:active {
  outline: none;
  text-decoration: underline;
}
.paging .next::before {
  content: '';
  position: absolute;
  right: 24px;
  top: 16px;
  margin: 0 -20px 0 0;
  width: 10px;
  height: 12px;
  background: transparent url("../images/icon_arrow3.png") no-repeat center center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 132px;
  background-color: #202020;
}
.footer .container {
  position: relative;
}
.footer .container .btn-top {
  border: 0;
  position: absolute;
  top: -71px;
  right: 0;
  display: inline-block;
  cursor: pointer;
  width: 69px;
  height: 69px;
  background: transparent url("../images/btn_top.png") no-repeat right bottom;
}
.footer .container .sites {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
}
.footer .container .sites li {
  display: inline-block;
  margin: 24px 19px 0 -1px;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 400;
  color: #8a8a8a;
  line-height: 16px;
  position: relative;
}
.footer .container .sites li:last-child::after {
  display: none;
}
.footer .container .sites li::after {
  content: '';
  position: absolute;
  right: -13px;
  top: 1px;
  width: 2px;
  height: 15px;
  background-color: #4d4d4d;
}
.footer .container .sites li a:link {
  color: #898989;
  text-decoration: none;
}
.footer .container .sites li a:hover {
  text-decoration: underline;
}
.footer .container .sites li a:visited {
  color: rgba(137, 137, 137, 0.5);
  text-decoration: none;
}
.footer .container .sites li a:active {
  outline: none;
  text-decoration: underline;
}
.footer .container .logo {
  margin-bottom: 6px;
  height: 23px;
  background: transparent url("../images/logo_footer.png") no-repeat center center;
}
.footer .container .copyright {
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 400;
  color: #8a8a8a;
  line-height: 18px;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.5;
  z-index: 90;
}

.bg-main {
  background: transparent url("../images/bg_main_1920x1080.png") no-repeat center center/1920px 1080px;
}

.bg-artists {
  background: transparent url("../images/bg_artists_1110x1080.png") no-repeat top center/1110px 1080px;
}

.bg-lots {
  background: transparent url("../images/bg_lots_1110x1080.png") no-repeat top center/1110px 1779px;
}

.bg-lots2 {
  background: transparent url("../images/bg_lots2_1110x1080.png") no-repeat top center/1110px 1779px;
}

.bg-lot {
  background: transparent url("../images/bg_lot_1110x1733.png") no-repeat top center/1110px 1733px;
}

html, body {
  height: inherit;
}

body {
  padding: 0 10px 0 10px;
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  background: #ebecec url("../images/logo_big.png") no-repeat right bottom/100% auto;
}

.main-container {
  width: 100%;
  height: 100%;
}
.main-container .inner-container {
  z-index: 30;
  padding: 0 0 0 0;
}
.main-container .inner-container .logo-small {
  display: block;
  margin: 14px 0 0 0;
  width: 32.5px;
  height: 23.5px;
  background: transparent url("../images/logo_small.png") no-repeat left top/100% 100%;
}
.main-container .inner-container .text-header {
  margin: 10px 0 0 0;
  word-wrap: break-word;
  font-family: "Lato";
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0;
  color: #4e4e4e;
  line-height: 110%;
}
.main-container .inner-container .text-header .quote {
  margin-left: 0;
  font-family: "PT Serif";
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  color: #8a8a8a;
  line-height: 110%;
}
.main-container .inner-container .text-subtitle {
  margin: 16px 0 0 0;
  font-family: "Lato";
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
  color: #808080;
  line-height: 21px;
}
.main-container .inner-container .text-subtitle .strong {
  font-family: "Lato";
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 600;
  color: #a8835a;
  line-height: 21px;
}
.main-container .inner-container .form-artist-search {
  position: relative;
  margin: 40px 0 0 0;
}
.main-container .inner-container .form-artist-search .form-group {
  width: 100%;
  float: left;
}
.main-container .inner-container .form-artist-search .form-group .input {
  width: 100%;
  height: 60px;
  border: 3px solid #b1b1b1;
  background-color: #fff;
  padding: 0 0 0 10px;
  margin: 0 0 0 0;
  font-family: "Lato";
  font-size: 32px;
  letter-spacing: -1px;
  font-weight: 700;
  color: #4e4e4e;
  line-height: 110%;
}
.main-container .inner-container .form-artist-search .form-group .input.placeholder {
  color: #cbcbcb;
}
.main-container .inner-container .form-artist-search .form-group .input:-moz-placeholder {
  color: #cbcbcb;
}
.main-container .inner-container .form-artist-search .form-group .input::-webkit-input-placeholder {
  color: #cbcbcb;
}
.main-container .inner-container .form-artist-search .form-group .input:-ms-input-placeholder {
  color: #cbcbcb;
}
.main-container .inner-container .form-artist-search .btn-search {
  display: inline-block;
  float: left;
  cursor: pointer;
  width: 50px;
  height: 60px;
  margin: 0 0 0 -60px;
  border: 0;
  overflow: hidden;
  text-indent: 5rem;
  background: transparent url("../images/icon_search.png") no-repeat center right/28px 28px;
}
.main-container .inner-container .recommend-keyword {
  width: 100%;
  padding: 90px 20px 100px 0;
}
.main-container .inner-container .recommend-keyword a {
  float: left;
  display: inline-block;
  position: relative;
  margin-right: 1.8rem;
  margin-top: 0.35rem;
  white-space: nowrap;
  font-family: "Lato";
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
  color: #4e4e4e;
  line-height: 24px;
}
.main-container .inner-container .recommend-keyword a:link {
  color: #707070;
  text-decoration: none;
}
.main-container .inner-container .recommend-keyword a:hover {
  text-decoration: underline;
}
.main-container .inner-container .recommend-keyword a:visited {
  color: rgba(112, 112, 112, 0.5);
  text-decoration: none;
}
.main-container .inner-container .recommend-keyword a:active {
  outline: none;
  text-decoration: underline;
}
.main-container .inner-container .recommend-keyword a::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  right: -1rem;
  top: 0.5rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #c2c2c2;
}
.main-container .inner-container .recommend-keyword a:last-child::after {
  content: '...';
  position: absolute;
  top: 0;
  right: -9px;
  width: 0;
  height: 0;
  font-family: "Lato";
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
  color: #4e4e4e;
  line-height: 21px;
}

.feedback {
  position: fixed;
  right: 48px;
  bottom: 60px;
  padding: 6px 10px 4px 10px;
  text-align: left;
  z-index: 90;
  font-family: "Lato";
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px rgba(198, 156, 109, 0.7);
  box-shadow: 0 0 20px rgba(198, 156, 109, 0.7);
  border: 0;
  color: #fff;
  background-color: #c69c6d;
}
