@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: local("Lato-Hairline"), url("../fonts/Lato-Hairline.eot") format("embedded-opentype"), url("../fonts/Lato-Hairline.ttf") format("truetype"), url("../fonts/Lato-Hairline.woff") format("woff"), url("../fonts/Lato-Hairline.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 200;
  src: local("Lato-HairlineItalic"), url("../fonts/Lato-HairlineItalic.eot") format("embedded-opentype"), url("../fonts/Lato-HairlineItalic.ttf") format("truetype"), url("../fonts/Lato-HairlineItalic.woff") format("woff"), url("../fonts/Lato-HairlineItalic.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato-Light"), url("../fonts/Lato-Light.eot") format("embedded-opentype"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato-LightItalic"), url("../fonts/Lato-LightItalic.eot") format("embedded-opentype"), url("../fonts/Lato-LightItalic.ttf") format("truetype"), url("../fonts/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato-Regular"), url("../fonts/Lato-Regular.eot") format("embedded-opentype"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato-Italic"), url("../fonts/Lato-Italic.eot") format("embedded-opentype"), url("../fonts/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato-Bold"), url("../fonts/Lato-Bold.eot") format("embedded-opentype"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato-BoldItalic"), url("../fonts/Lato-BoldItalic.eot") format("embedded-opentype"), url("../fonts/Lato-BoldItalic.ttf") format("truetype"), url("../fonts/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  src: local("Lato-Black"), url("../fonts/Lato-Black.eot") format("embedded-opentype"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 800;
  src: local("Lato-BlackItalic"), url("../fonts/Lato-BlackItalic.eot") format("embedded-opentype"), url("../fonts/Lato-BlackItalic.ttf") format("truetype"), url("../fonts/Lato-BlackItalic.woff") format("woff"), url("../fonts/Lato-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato-Heavy"), url("../fonts/Lato-Heavy.eot") format("embedded-opentype"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato-HeavyItalic"), url("../fonts/Lato-HeavyItalic.eot") format("embedded-opentype"), url("../fonts/Lato-HeavyItalic.ttf") format("truetype"), url("../fonts/Lato-HeavyItalic.woff") format("woff"), url("../fonts/Lato-HeavyItalic.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PTF55F"), url("../fonts/PTF55F.ttf") format("truetype"), url("../fonts/PTF55F.woff") format("woff");
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local("PTF56F"), url("../fonts/PTF56F.ttf") format("truetype"), url("../fonts/PTF56F.woff") format("woff");
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PTF75F"), url("../fonts/PTF75F.ttf") format("truetype"), url("../fonts/PTF75F.woff") format("woff");
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local("PTF76F"), url("../fonts/PTF76F.ttf") format("truetype"), url("../fonts/PTF76F.woff") format("woff");
}
html, body {
  height: 100%;
}

html, body, div, ul, ol, li, table, tr, td, h1, h2, h3, h4, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input, button, select {
  box-sizing: border-box;
}
input:focus, button:focus, select:focus {
  outline: none;
}

a {
  color: #838383;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgba(131, 131, 131, 0.5);
}

a:active {
  outline: none;
}

.feedback {
  position: fixed;
  right: 48px;
  bottom: 90px;
  width: 79px;
  height: 80px;
  padding: 6px 0 0 18px;
  text-align: left;
  z-index: 90;
  font-family: "Lato";
  letter-spacing: -0.01rem;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.3rem;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px rgba(198, 156, 109, 0.7);
  box-shadow: 0 0 20px rgba(198, 156, 109, 0.7);
  border: 0;
  color: #fff;
  background-color: #c69c6d;
}

body {
  background: linear-gradient(to left, rgba(235, 236, 236, 0.9) 60%, #ebecec);
}

.main-container {
  position: relative;
}
.main-container::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: transparent url("../images/logo_big.png") no-repeat right 15% center;
}
.main-container .inner-container {
  max-width: 68rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 30;
}
.main-container .inner-container .logo-small {
  display: block;
  width: 65px;
  height: 47px;
  background: transparent url("../images/logo_small.png") no-repeat left top/auto;
}
.main-container .inner-container .text-header {
  margin: 1.2rem 0 0 0;
  font-family: "Lato";
  font-size: 4.4rem;
  font-weight: 900;
  letter-spacing: -0.01rem;
  line-height: 4.8rem;
  color: #4e4e4e;
  text-indent: -0.5rem;
  margin-left: 0.5rem;
}
.main-container .inner-container .text-header .quote {
  margin-left: -1rem;
  font-family: "PT Serif";
  font-weight: 400;
}
.main-container .inner-container .text-subtitle {
  margin: 1rem 0 0 0.3rem;
  font-family: "Lato";
  font-size: 1rem;
  letter-spacing: 0.06rem;
  color: #808080;
  line-height: 1.3rem;
}
.main-container .inner-container .text-subtitle .strong {
  color: #c69c6d;
  font-weight: 700;
}
.main-container .inner-container .form-artist-search {
  position: relative;
  margin: 4rem 0 0 0;
}
.main-container .inner-container .form-artist-search .form-group {
  display: inline-block;
  float: left;
  border: 0;
  border-bottom: 0.25rem solid #b1b1b1;
  padding-right: 5rem;
}
.main-container .inner-container .form-artist-search .form-group .input {
  width: 100%;
  max-width: 44rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  padding: 0.8rem 0 0 0.4rem;
  font-family: "Lato";
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #838383;
  line-height: 4.2rem;
}
.main-container .inner-container .form-artist-search .form-group .input.placeholder {
  color: #cbcbcb;
}
.main-container .inner-container .form-artist-search .form-group .input:-moz-placeholder {
  color: #cbcbcb;
}
.main-container .inner-container .form-artist-search .form-group .input::-webkit-input-placeholder {
  color: #cbcbcb;
}
.main-container .inner-container .form-artist-search .form-group .input:-ms-input-placeholder {
  color: #cbcbcb;
}
.main-container .inner-container .form-artist-search .btn-search {
  display: inline-block;
  float: left;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  margin-left: -5rem;
  border: 0;
  overflow: hidden;
  text-indent: 5rem;
  background: transparent url("../images/icon_search.png") no-repeat center 1.7rem;
}
.main-container .inner-container .recommend-keyword {
  width: 100%;
  font-size: 1rem;
}
.main-container .inner-container .recommend-keyword a {
  float: left;
  display: inline-block;
  position: relative;
  margin-right: 1.8rem;
  margin-top: 0.35rem;
  white-space: nowrap;
  font-family: "Lato";
  font-size: 1.2rem;
  letter-spacing: -0.04rem;
  font-weight: 400;
  color: #838383;
  line-height: 1.3rem;
}
.main-container .inner-container .recommend-keyword a::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  right: -1rem;
  top: 0.5rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #c2c2c2;
}
.main-container .inner-container .recommend-keyword a:last-child::after {
  content: '...';
  margin-bottom: 1rem;
  top: 0;
  width: 0;
  height: 0;
  font-family: "Lato";
  font-size: 1.2rem;
  letter-spacing: -0.04rem;
  font-weight: 400;
  color: #838383;
  line-height: 1.3rem;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.5;
  z-index: 90;
}

.bg-main {
  background: transparent url("../images/bg_main_1920x1080.png") no-repeat center center/1920px 1080px;
}
