.artist-name {
    padding:0 0 0 65px
}
.mt-element-ribbon .ribbon-content {
    padding:0 0 0 67px
}
.icon-btn {
    min-width: 50px;
}
.icon-btn.active {
    /*border: 1px solid #ed6b75;*/
    border: 1px solid #f3929d;
}
.icon-btn.active [class*=" fa-"]:not(.fa-stack) {
    color: #ed5565;
}
.icon-btn>div {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}

.icon-btn.active>div {
    color: #ed5565;
    font-weight:bold;
}

.search-page .search-filter .search-label {
    color: #a0a9b4;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 40px;
}

.search-title-description {
    font-weight: normal;letter-spacing:0.1px;
}

.search-content-3 .tile-container>.tile-thumbnail {
    background-color: #fff;
}
.search-content-3 .tile-container>.tile-thumbnail img {
    max-width: 100%;
    max-height: 100%;
}

.results-count {
    font-size: 30px;
    font-weight: 300;
    margin-top: -41px;
}

.search-page .search-filter {
    margin-bottom: 80px;
}


.wiveel-search.login .content {
    min-width: 360px;
    width: inherit;
    max-width: 760px;
    height: 252px;
}

.logo>a>img {
    height: 50px;
}

.wiveel-search .login-form .form-control {
    display: inline-block;
    height: 60px;
    font-size: 30px;
    font-weight: 300;
    color: #555;
    padding: 0 10px 0 10px;
}

.wiveel-search .login-form .input-icon>i {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 24px 0 0 12px;
}

.wiveel-search .login-form .btn {
    width: 95px;
    height:  60px;
    font-size: 18px;
}

.wiveel-search.login .content .wiveel-info h3, .wiveel-search.login .content .wiveel-info h4 {
    color: inherit;
}

.wiveel-search.login .content .wiveel-infolabel, .wiveel-search.login .content .wiveel-info p {
    color: inherit;
}

.wiveel-info.portlet.light {
    padding: 0;
    background-color: transparent;
}

.btn-language {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 100;
}

.btn-language a {
    color: #999;
}

.btn-language a:hover {
    color: #000
}

.btn-language .flag-us {
    display: inline-block;
    width: 15px;
    height: 20px;
    background: transparent url('../images/flag_us.png') no-repeat 0 bottom;
    background-size: 15px 15px;
}

.btn-language .flag-cn {
    display: inline-block;
    width: 15px;
    height: 20px;
    background: transparent url('../images/flag_cn.png') no-repeat 0 bottom;
    background-size: 15px 15px;
}

.btn-language .country {
    display: inline-block;
    float: right;
    margin: 5px 0 0 5px;
    font-size:12px;
}

.btn-language.open>.dropdown-menu {
    left:inherit;
    right: 0;
    margin-top: -40px;
    font-weight:300;
}

.btn-language.open>.dropdown-menu .country {
    font-weight:normal;
}

.wiveel-data {
    min-width: 360px;
    width: inherit;
    max-width: 760px;
    margin: 0 auto;
    margin-top: 0;
    padding: 20px 30px 15px;
    background: url('../assets/pages/img/bg-white-lock.png');
}

.wiveel-data .dashboard-stat.blue {
    background: url('../assets/pages/img/bg-white-lock.png');
}

.wiveel-data .mt-element-list .list-simple.ext-1.mt-list-container {
    border: 0;
    color: rgba(0,0,0,0.3);
    font-weight:600;
}

.wiveel-data .mt-element-list .list-simple.mt-list-container ul>.mt-list-item>.list-item-content>h3 {
    font-weight:700;
}


.wiveel-data .mt-element-list .list-simple.ext-1.mt-list-container ul>.mt-list-item.done {
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    min-height: 53px;
}

.wiveel-data .dashboard-stat.blue .details .desc {
    color: rgba(0,0,0,0.2);
    font-weight: 700;
}

.wiveel-login.login .content {
    min-width: 380px;
}