//z-index
$z-index-minus: -1;
$z-index-min: 10; //min
$z-index-1: 20;
$z-index-2: 30;
$z-index-3: 40;
$z-index-4: 50;
$z-index-5: 60;
$z-index-max: 90; //max

//font-family
$font-default: "Helvetica";

//color-text
$text-default: #1c1d1e;
$text-black: #000;
$text-darkgray: #444444;
$text-highlight: #eac25f;
$text-lightgray: #888888;
$text-gray: #666666;
$text-white: #fff;

//color-link
$link-default: #161514;


//color-bg
$bg-default: #e5e5e4;
$bg-black: #000;
$bg-highlight: #eed28e;
$bg-white: #fff;
$bg-fairy: #f5f5f5;

//color-border
$border-default: #444444;


//size
$width-inner-container: 1200px;
$width-loop-interval-btn: -25px;
$width-loop-btn-width: 180px;
$width-loop-btn-height: 149px;