.fixed-container {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 2500px;
}

.fixed-art {
    margin: 0 auto;
    width: 1000px;
    height: 2500px;
    border: 1px solid blue;
    background: transparent url("../img/temp1.png") no-repeat fixed 450px 0px;
}

.fixed-content {
    width: 300px;
    height: 300px;
    border: 1px solid red;
}