@import "mixin";


$card-inventory-image-max-width: 50px;
$card-inventory-image-max-height: 50px;
$card-inventory-bgcolor-hover: #fff;
$card-inventory-padding-top: 0;
$card-inventory-padding-right: 0;
$card-inventory-padding-bottom: 0;
$card-inventory-padding-left: 0;
$font-color-default: #555;
$font-color-fairy: #777;
$font-color-point: #1B73BF;
$font-color-info: #2AB4C0;
$font-color-white: #fff;
$font-color-danger: #ED1C24;
$font-color-warning: orange;
$border-default: 1px solid #e1e5ec;
//$border-default: 0;
$border-bar: 1px solid #ccc;
//$shadow-default: 4px 4px 0 rgba(#ccc,0.5);
$shadow-default: 0 0 0 0;
$bgcolor-fairy: #e1e5ec;
$bgcolor-veryfairy: #f5f5f5;
$bgcolor-default: #555;
$bgcolor-th: #e1e5ec;



//reest--------------------------------------------------------------------------------------
html, body, div, ul, ol, li, table, tr, td, h1, h2, h3, h4, p, span, form, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


//common ui-------------------------------------------------------------------------------------------
.td-text-info {
  margin: 4px 0 4px 0 !important;
  color: $font-color-info;
}
.td-text-warning {
  margin: 4px 0 4px 0 !important;
  color: $font-color-warning;
}
.td-text-info-inline {}


.textarea-high-medium {
  min-height: 100px;
}
//change metonic ui-------------------------------------------------------------------------------------------

a {
  text-decoration: underline;
}
th {
  background-color: $bgcolor-th;
}

.page-header.navbar .page-logo .logo-default {
  margin-top: 5px;
}

.theme-panel-li {
  width: 80px;
}
.page-content-white .theme-panel {
  position: relative;
  margin-top: 1px;
  background-color: transparent !important;
  .toggler {
    background-color: transparent !important;
    &:hover {
      opacity: 0.3 !important;
    }
  }
}

.page-content-white .page-title {
  margin-top: 0 !important;
}

.form .form-bordered .form-group {
  &:last-child {
    border-bottom: 0;
  }
}

.mt-checkbox-inline, .mt-radio-inline {
  padding: 0 0 !important;
}

.form-control {
  display: inline-block;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $font-color-default;
  line-height: 32px;
  margin-bottom: -1px;
}

.select2-container .select2-selection--single {
  height: 34px;
}


//user-guide-------------------------------------------------------------------------------------------
.user-guide {
  //margin-top: -51px !important;
  .btn-guide {
    font-size: 140%;
  }
  >.portlet-title {
    padding-right: 13px;
    >.tools {
      >a.expand {
          background-image: none;
      }
      >a.collapse {
          background-image: none;
      }
    }
    >.contents {
      list-style-type: circle ;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      >.paragraph {
        margin: 0 0 0 30px;
        padding: 10px 0 10px 0;
        border-bottom: $border-default;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  >.portlet-body {
    >.contents {
      list-style-type: circle ;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      >.paragraph {
        margin: 0 0 0 30px;
        padding: 10px 0 10px 0;
        border-bottom: $border-default;
      }
    }
  }
}


//search-------------------------------------------------------------------------------------------
.top-search {
  select {
    margin-bottom: -1px;
  }
  .portlet-title {
    .major-search {
      margin: 10px 0 -10px 10px !important;
      .form-group {
      }
    }
  }
  .portlet-body {
    margin: 10px 0 0 10px !important;
    .form-inline {
      display: inline-block;
      margin-bottom: 6px;
      .input-xlarge {
        width: auto !important;
      }
    }
  }
  .form-edge {
    padding-right: 60px !important;
  }
}

//page layout-----------------------------------------------------------------------------------------
.page-title {
  margin-top: 0;
  .major-btn-groups {
    float: right;
    margin-right: 0 !important;
    @media (max-width: 767px) {
      margin: 20px 0 0 0 !important;
      padding-right: 25px;
      width: 100%;
      float: none;
      text-align: right;
    }
  }
}



//inventory-------------------------------------------------------------------------------------------
.card-inventory {
  cursor: pointer;
  position: relative;
  padding: $card-inventory-padding-top $card-inventory-padding-right $card-inventory-padding-bottom $card-inventory-image-max-width + $card-inventory-padding-left + 10px;
  border: $border-default;
  box-shadow: $shadow-default;
  &:hover {
    background-color: $card-inventory-bgcolor-hover;
    .text-bn {
      background-color: $bgcolor-default;
      color: $font-color-white;
    }
  }
  p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: block;
  }
  .img-artwork {
    position: absolute;
    top: $card-inventory-padding-top+18px;
    left: $card-inventory-padding-left;
    img {
      max-width: $card-inventory-image-max-width;
      max-height: $card-inventory-image-max-height;
    }
  }
  .text-bn {
    margin-top: -$card-inventory-padding-top !important;
    margin-left: -$card-inventory-padding-left - $card-inventory-image-max-width - 10px;
    margin-right: -$card-inventory-padding-right;
    padding: 1px 10px 2px 10px;
    background-color: $bgcolor-fairy;
  }
  .text-artist {
    font-size: 100%;
    font-weight: bold;
    margin: 6px 0 0 0 !important;
  }
  .text-worktitle {
    font-size: 110%;
    font-style: italic;
    color: $font-color-point;
    margin: 2px 0 0 0 !important;
    @include cut-multi-text(400px,24px,1);
  }
  .text-description {
    margin: 0 0 0 0 !important;
    color: $font-color-fairy;
    @include cut-multi-text(400px,20px,1);
  }
}
.view-only {
  cursor: default;
  margin-bottom: 10px;
  &:hover {
    background-color: $card-inventory-bgcolor-hover;
    .text-bn {
      background-color: $bgcolor-fairy;
      color: $font-color-white;
    }
  }
}

//auction-------------------------------------------------------------------------------------------
.card-auction {
  cursor: pointer;
  .text-pay {
    margin-top: -$card-inventory-padding-top !important;
    margin-left: -$card-inventory-padding-left;
    margin-right: -$card-inventory-padding-right;
    margin-bottom: 10px;
    padding: 1px 10px 2px 10px;
    background-color: $bgcolor-fairy;
    .bad {
      color: $font-color-danger;
    }
    .good {
      color: $font-color-point;
    }
  }
  .text-soldprice {
    text-align: right;
    margin-top: -$card-inventory-padding-top - 11px !important;
    height: 20px;
    margin-bottom: 10px;
  }
  .text-sale-status {
    display: inline-block;
  }
  .text-auction-type {
    display: inline-block;
    color: $font-color-fairy;
  }
  .text-sale-turn {
    display: inline-block;
    color: $font-color-fairy;
  }
  .text-auction {
    @include cut-multi-text(100%,20px,1);
    color: $font-color-point;
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 4px;
  }

}

//lot -------------------------------------------------------------------------------------------

.card-lot {
  position: relative;
  padding-left: $card-inventory-image-max-width +10px;
  p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: block;
  }
  .img-lot {
    position: absolute;
    top: $card-inventory-padding-top;
    left: $card-inventory-padding-left;
    img {
      max-width: $card-inventory-image-max-width;
      max-height: $card-inventory-image-max-height;
    }
  }
  .text-lot-artist {
    font-size: 100%;
    font-weight: bold;
    margin: 6px 0 0 0 !important;
  }
  .text-lot-worktitle {
    font-size: 110%;
    font-style: italic;
    font-weight: 600;
    color: $font-color-point;
    margin: 2px 0 0 0 !important;
    @include cut-multi-text(400px,24px,1);
  }
  .text-lot-description {
    margin: 0 0 0 0 !important;
    color: $font-color-fairy;
    @include cut-multi-text(400px,20px,1);
  }
}

.text-lot-number {
  font-size: 200%;
  font-weight: 600;
}
.text-lot-id {
  font-size: 90%;
}
.text-lot-bn {
  font-size: 90%;
}
.text-lot-bidder-count {
  margin-bottom: 4px;
}

//common ui-------------------------------------------------------------------------------------------
.img-sale-banner {
  display: inline-block;
  img {
    max-width: 110px;
    max-height: 30px;
    margin: 4px 0;
  }
}

.search-managers {
  //border: $border-default;
  //padding: 10px;
  ul {
    //margin: 14px 0 10px 0;
    .manager {
      margin: 10px 0 10px 0;
      list-style-type: none;
    }
  }
}
.single {
  border: 0;
  padding: 0;
  ul {
    display: inline-block;
    margin: 0 0 0 0;
    .manager {
      margin: 0 0 0 4px;
      display: inline-block;
    }
  }
}

.icon-must {
  color: $font-color-danger;
}



