$card-artwork-image-max-width: 50px;
$card-artwork-image-max-height: 50px;
$card-artwork-bgcolor-hover: #fff;
$card-artwork-padding-top: 10px;
$card-artwork-padding-right: 10px;
$card-artwork-padding-bottom: 10px;
$card-artwork-padding-left: 10px;
$font-color-fairy: #777;
//$font-color-point: #FF7F27;
$font-color-point: #1B73BF;
$font-color-white: #fff;
$font-color-danger: #ED1C24;
//$border-default: 1px solid #ccc;
$border-default: 0;
//$shadow-default: 4px 4px 0 rgba(#ccc,0.5);
$shadow-default: 0 0 0 0;
$bgcolor-fairy: #ddd;
$bgcolor-default: #555;


//reest--------------------------------------------------------------------------------------
html, body, div, ul, ol, li, table, tr, td, h1, h2, h3, h4, p, span, form, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//-------------------------------------------------------------------------------------------

.artworks {
  .card-artwork {
    cursor: pointer;
    position: relative;
    padding: $card-artwork-padding-top $card-artwork-padding-right $card-artwork-padding-bottom $card-artwork-image-max-width + $card-artwork-padding-left + 10px;
    border: $border-default;
    box-shadow: $shadow-default;
    &:hover {
      background-color: $card-artwork-bgcolor-hover;
      .text-bn {
        background-color: $bgcolor-default;
        color: $font-color-white;
      }
    }
    p {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      letter-spacing: -1px;
      display: block;
    }
    .img-artwork {
      position: absolute;
      top: $card-artwork-padding-top+18px;
      left: $card-artwork-padding-left;
      img {
        max-width: $card-artwork-image-max-width;
        max-height: $card-artwork-image-max-height;
      }
    }
    .text-bn {
      margin-top: -$card-artwork-padding-top !important;
      margin-left: -$card-artwork-padding-left - $card-artwork-image-max-width - 10px;
      margin-right: -$card-artwork-padding-right;
      padding: 1px 10px 2px 10px;
      background-color: $bgcolor-fairy;
    }
    .text-artist {
      font-size: 100%;
      font-weight: bold;
      margin: 6px 0 0 0 !important;
    }
    .text-worktitle {
      font-size: 120%;
      font-style: italic;
      color: $font-color-point;
      margin: 6px 0 0 0 !important;
    }
    .text-edition, .text-medium, .text-size {
      color: $font-color-fairy;
      display: inline-block;
      margin: 10px 0 0 0 !important;
      padding: 0 6px 0 0;
      border-right: $border-default;
    }
    .text-size {
      border-right: 0;
    }
    .text-condition {
      margin: 6px 0 0 0 !important;
      color: $font-color-fairy;
      //padding: 2px 8px 2px 8px;
      //background-color: $bgcolor-fairy;
    }
  }
}
.card-in {
  cursor: pointer;
  padding: $card-artwork-padding-top $card-artwork-padding-right $card-artwork-padding-bottom $card-artwork-padding-left;
  border: $border-default;
  box-shadow: $shadow-default;
  &:hover {
    background-color: $card-artwork-bgcolor-hover;
    .text-type {
      background-color: $bgcolor-default;
      color: $font-color-white;
    }
    .text-days {
      color: $font-color-white;
    }
  }
  .text-type {
    margin-top: -$card-artwork-padding-top !important;
    margin-left: -$card-artwork-padding-left;
    margin-right: -$card-artwork-padding-right;
    padding: 1px 10px 2px 10px;
    background-color: $bgcolor-fairy;
  }
  .text-days {
    text-align: right;
    margin-top: -$card-artwork-padding-top - 11px !important;
    height: 20px;
    margin-bottom: 10px;
  }
}
.card-auction {
  cursor: pointer;
  padding: $card-artwork-padding-top $card-artwork-padding-right $card-artwork-padding-bottom $card-artwork-padding-left;
  border: $border-default;
  box-shadow: $shadow-default;
  &:hover {
    background-color: $card-artwork-bgcolor-hover;
    .text-pay {
      background-color: $bgcolor-default;
      color: $font-color-white;
      .bad {
        color: $font-color-danger*4;
      }
      .good {
        color: $font-color-point*2;
      }
    }
    .text-soldprice {
      color: $font-color-white;
    }
  }
  .text-pay {
    margin-top: -$card-artwork-padding-top !important;
    margin-left: -$card-artwork-padding-left;
    margin-right: -$card-artwork-padding-right;
    padding: 1px 10px 2px 10px;
    background-color: $bgcolor-fairy;
    .bad {
      color: $font-color-danger;
    }
    .good {
      color: $font-color-point;
    }
  }
  .text-soldprice {
    text-align: right;
    margin-top: -$card-artwork-padding-top - 11px !important;
    height: 20px;
    margin-bottom: 10px;
  }
}
.card-out {
  cursor: pointer;
  padding: $card-artwork-padding-top $card-artwork-padding-right $card-artwork-padding-bottom $card-artwork-padding-left;
  border: $border-default;
  box-shadow: $shadow-default;
  &:hover {
    background-color: $card-artwork-bgcolor-hover;
    .text-out-type {
      background-color: $bgcolor-default;
      color: $font-color-white;
    }
  }
  .text-out-type {
    margin-top: -$card-artwork-padding-top !important;
    margin-left: -$card-artwork-padding-left;
    margin-right: -$card-artwork-padding-right;
    margin-bottom: 10px;
    padding: 1px 10px 2px 10px;
    background-color: $bgcolor-fairy;
  }
}
.text-current-location {
  margin-top: 10px !important;
}
