@import "common";

.artworks {
  .page-title {
    margin-top: 0;
    .major-btn-groups {
      float: right;
      margin-right: 25px !important;
      @media (max-width: 767px) {
        margin: 20px 0 0 0 !important;
        padding-right: 25px;
        width: 100%;
        float: none;
        text-align: right;
      }
    }
  }
  .text-condition {
    display: inline-block;
    font-size: 85%;
    color: $font-color-fairy;
    @include cut-multi-text(120px,98px,6);
  }

  .card-in {
    cursor: pointer;
    padding: $card-artwork-padding-top $card-artwork-padding-right $card-artwork-padding-bottom $card-artwork-padding-left;
    border: $border-default;
    box-shadow: $shadow-default;
    &:hover {
      background-color: $card-artwork-bgcolor-hover;
      .text-type {
        background-color: $bgcolor-default;
        color: $font-color-white;
      }
      .text-days {
        color: $font-color-white;
      }
    }
    .text-type {
      margin-top: -$card-artwork-padding-top !important;
      margin-left: -$card-artwork-padding-left;
      margin-right: -$card-artwork-padding-right;
      padding: 1px 10px 2px 10px;
      background-color: $bgcolor-fairy;
    }
    .text-days {
      text-align: right;
      margin-top: -$card-artwork-padding-top - 11px !important;
      height: 20px;
      margin-bottom: 10px;
    }
  }
  .text-memo {
    display: inline-block;
    font-size: 85%;
    color: $font-color-fairy;
    @include cut-multi-text(120px,98px,6);
  }
  .card-auction {
    cursor: pointer;
    padding: $card-artwork-padding-top $card-artwork-padding-right $card-artwork-padding-bottom $card-artwork-padding-left;
    border: $border-default;
    box-shadow: $shadow-default;
    &:hover {
      background-color: $card-artwork-bgcolor-hover;
      .text-pay {
        background-color: $bgcolor-default;
        color: $font-color-white;
        .bad {
          color: $font-color-danger*4;
        }
        .good {
          color: $font-color-point*2;
        }
      }
      .text-soldprice {
        color: $font-color-white;
      }
    }
    .text-pay {
      margin-top: -$card-artwork-padding-top !important;
      margin-left: -$card-artwork-padding-left;
      margin-right: -$card-artwork-padding-right;
      margin-bottom: 10px;
      padding: 1px 10px 2px 10px;
      background-color: $bgcolor-fairy;
      .bad {
        color: $font-color-danger;
      }
      .good {
        color: $font-color-point;
      }
    }
    .text-soldprice {
      text-align: right;
      margin-top: -$card-artwork-padding-top - 11px !important;
      height: 20px;
      margin-bottom: 10px;
    }
    .text-auction {
      @include cut-multi-text(150px,20px,1);
      color: $font-color-point;
    }
  }
  .card-out {
    cursor: pointer;
    padding: $card-artwork-padding-top $card-artwork-padding-right $card-artwork-padding-bottom $card-artwork-padding-left;
    border: $border-default;
    box-shadow: $shadow-default;
    &:hover {
      background-color: $card-artwork-bgcolor-hover;
      .text-out-type {
        background-color: $bgcolor-default;
        color: $font-color-white;
      }
    }
    .text-out-type {
      margin-top: -$card-artwork-padding-top !important;
      margin-left: -$card-artwork-padding-left;
      margin-right: -$card-artwork-padding-right;
      margin-bottom: 10px;
      padding: 1px 10px 2px 10px;
      background-color: $bgcolor-fairy;
    }
  }
}

