@import 'font_face';
@import "variables";
@import "mixin";

//reest--------------------------------------------------------------------------------------
html, body, div, ul, ol, li, table, tr, td, h1, h2, h3, h4, p, span, form, input, button, select, a, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-default;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $link-default;
  &:hover {
    text-decoration: underline;
  }
}

input, button, select {
  &:focus {
    outline: none;
  }
}

select {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  @include bg-image(transparent,'../images/input-arrow@2x.png',no-repeat,scroll,center,97%,14px,8px);
}

//buttons--------------------------------------------------------------------------------------

.link-main {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 100%;
  color: $text-highlight;
}

.link-primary {
  padding: 10px 10px 10px 77px;
  margin: 0 0 0 0;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 100%;
  color: $text-default;
  text-transform: uppercase;
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    left:  0;
    top: 20px;
    width: 61px;
    height: 1px;
    background-color: $bg-black;
  }
}



//icons--------------------------------------------------------------------------------------
.icon-apple {
  display: inline-block;
  width: 14px;
  height: 16px;
  @include bg-image(transparent,'../images/store-01@2x.png',no-repeat,scroll,top,center,14px,17px)
}
.icon-android {
  display: inline-block;
  width: 13px;
  height: 16px;
  @include bg-image(transparent,'../images/store-02@2x.png',no-repeat,scroll,top,center,13px,15px)
}
.icon-blank {
  display: inline-block;
  width: 2px;
  height: 16px;
}


//for purblishing--------------------------------------------------------------------------------------
.hidden {
  display: none !important;
}

.bg {
  position: fixed;
  width: 100%;
  height: 1020px;
  overflow: hidden;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.8;
  z-index: $z-index-max;
}
.bg-main {@include bg-image(transperent,'../images/bg_pc_00_main_1920x1020.png',no-repeat,scroll,top,center,1920px,1020px)}
.bg-aboutus {@include bg-image(transperent,'../images/bg_pc_01_aboutus01_1920x1020.png',no-repeat,scroll,top,center,1920px,1020px)}
.bg-partner {@include bg-image(transperent,'../images/bg_pc_01_aboutus02_1920x1020.png',no-repeat,scroll,top,center,1920px,1020px)}
.bg-blueindex {@include bg-image(transperent,'../images/bg_pc_02_service01_01_blueindex_1920x1020.png.png',no-repeat,scroll,top,center,1920px,1020px)}
.bg-monopoly {@include bg-image(transperent,'../images/bg_pc_02_service01_02_blueindexmonopoly_1920x1020.png',no-repeat,scroll,top,center,1920px,1020px)}
.bg-contributor {@include bg-image(transperent,'../images/bg_pc_02_service01_03_contributor_1920x1020.png',no-repeat,scroll,top,center,1920px,1020px)}
.bg-validator {@include bg-image(transperent,'../images/bg_pc_02_service01_04_validator_1920x1020.png',no-repeat,scroll,top,center,1920px,1020px)}
.bg-datasharing {@include bg-image(transperent,'../images/bg_pc_02_service01_05_datasharing_1920x1020.png',no-repeat,scroll,top,center,1920px,1020px)}
.bg-liveauctionart {@include bg-image(transperent,'../images/bg_pc_02_service01_06_liveauctionart_1920x1280.png',no-repeat,scroll,top,center,1920px,1280px)}
.bg-inartpress {@include bg-image(transperent,'../images/bg_pc_02_service01_07_inartpress_1920x1020.png',no-repeat,scroll,top,center,1920px,1020px)}
.bg-contact {@include bg-image(transperent,'../images/bg_pc_03_contact01_1920x1020.png',no-repeat,scroll,top,center,1920px,1020px)}


//default--------------------------------------------------------------------------------------
html {
  position: relative;
  height: 100%;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  //background: $bg-default url('../images/bg_h_line.png') repeat top center;
  overflow-x: hidden;
}
body {
  height: 100%;
  z-index: $z-index-1;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;;
}

.mobile-only {
  display:none !important;;
}


//anchor--------------------------------------------------------------------------------------

.mover {
  width: 30px;
  position: absolute;
  top: 200px;
  left: 76px;
  display: flex;
  flex-direction: column;
  z-index: $z-index-max;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    left:  10px;
    top: 42px;
    width: 100%;
    height: 2px;
    background-color: $bg-default;
  }
  .btn-up, .btn-down {
    display: inline-block;
    width: 50px;
    height: 60px;
    text-align: center;
    opacity: 0.2;
    &:hover {
      opacity: 1;
    }
    &.disable {
      &:hover {
        cursor: default;
        border-bottom: 2px solid transparent ;
        opacity: 0.2;
      }
    }
  }
  .up {
    display: inline-block;
    width: 20px;
    height: 25px;
    @include bg-image(transperent,'../images/icon_arrow-up.png',no-repeat,scroll,center,center,20px,25px);
  }
  .down {
    display: inline-block;
    width: 20px;
    height: 25px;
    @include bg-image(transperent,'../images/icon_arrow-down.png',no-repeat,scroll,top,left,20px,25px);
  }
}

#anchor-main,
#anchor-aboutus,
#anchor-partner,
#anchor-blueindex,
#anchor-monopoly,
#anchor-laa,
#anchor-iap,
#anchor-contact {
  position: absolute;
  top: -205px;
  width: 100px;
  height: 10px;
}

//layout--------------------------------------------------------------------------------------
body>.container {
  position: relative;
  padding: 110px 0 0 0;
  width: 100%;
  height: 100%;
  .top-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0;
    background-color: $bg-white;
    z-index: $z-index-max;
    .logo {
      display: inline-block;
      float:left;
      cursor: pointer;
      margin: 10px 0 0 34px;
      width: 200px;
      height: 50px;
      @include bg-image(transperent,'../images/logo.png',no-repeat,scroll,center,center,151px,18px)
    }
    .menus {
      position: fixed;
      top: 17px;
      right: 0;
      width: 400px;
      height: 40px;
      &.active {
        // start animation---------------------------------------------------------------------
        animation-name: slide-open;
        animation-duration: 0.7s;
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        right: 0;
        @keyframes slide-open {
          0%   {
            right: -400px;
          }
          100% {
            right: 0;
          }
        }
        // end animation---------------------------------------------------------------------
      }
      &.hide {
        // start animation---------------------------------------------------------------------
        animation-name: slide-hide;
        animation-duration: 0.7s;
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        right: -400px;
        @keyframes slide-hide {
          0%   {
            right: 0;
          }
          100% {
            right: -400px;
          }
        }
        // end animation---------------------------------------------------------------------
      }
      .bg-layer {
        display: none;
      }
      .menu {
        display: inline-block;
        margin: 0 24px 0 0;
        padding: 10px 10px 10px 10px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: $link-default;
        text-transform: uppercase;
        line-height: 16px;
      }
      .menu-sub {
        display: none;
      }
      .btn-close {
        display: none;
      }
    }
    .hamburger-menu {
      position: fixed;
      right: 0;
      top: 15px;
      width: 60px;
      height: 40px;
      .icon-hamburger {
        cursor: pointer;
        display: inline-block;
        width: 60px;
        height: 40px;
        @include bg-image($bg-white,'../images/icon_hamberger@2x.png',no-repeat,scroll,center,10px,24px,16px)
      }
    }
  }
  .inner-container {
    width: $width-inner-container;
    margin: 0 auto;
    min-height: 100%;
    padding: 95px 0 0 0;
    .section {
      position: relative;
      height: 1000px;
      >.main-container {
        margin: 0 0 0 0;
        padding: 0 0 0 89px;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 0;
        color: $text-default;
        line-height: 44px;
        .highlight {
          @include highlight('Search');
        }
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          left:  0;
          top: 14px;
          width: 5px;
          height: 140px;
          background-color: $bg-black;
        }
        &.section-title {
          padding-top: 12px;
          &:after {
            height: 40px;
          }
          .description {
            display: block;
            margin: 18px 0 0 0;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 0;
            color: $text-lightgray;
            line-height: 100%;
          }
        }
      }
      >.sub-container {
        position: absolute;
        top: 0;
        left: 515px;
        width: 689px;
        .figure {
          padding: 0 0 0 0;
          margin: 0 0 0 0;
          .caption {
            width: 389px;
            padding: 24px 0 0 0;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0;
            color: $text-darkgray;
            line-height: 22px;
            text-transform: none;
          }
        }
        .major-description {
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0;
          color: $text-darkgray;
          line-height: 24px;
          position: relative;
          &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left:  0;
            top:  -50px;
            width: 62px;
            height: 4px;
            background-color: $bg-highlight;
          }
        }
      }
      &.pg-main {
        .main-container {
          line-height: 56px;
          letter-spacing: -0.4px;
        }
        .sub-container {
          padding: 353px 100px 0 0;

          .paragraph {
            padding: 0 0 24px 0;
            .title {
              margin: 0 0 7px 0;
              font-size: 14px;
              font-weight: 600;
              letter-spacing: 0;
              color: $text-darkgray;
              line-height: 100%;
            }
            .description {
              margin: 0 0 12px 0;
              font-size: 13px;
              font-weight: 400;
              letter-spacing: 0;
              color: $text-darkgray;
              line-height: 17px;
            }
            .link-main {
              display: none;
              margin-bottom: 24px;
            }
            &.active, &:hover {
              cursor: pointer;
              position: relative;
              .link-main {
                display: inline-block;
              }
              &:after {
                content: '';
                display: inline-block;
                position: absolute;
                left:  -79px;
                top:  4px;
                width: 62px;
                height: 4px;
                background-color: $bg-highlight;
              }
            }
          }
        }
      }
      &.pg-aboutus {
        .sub-container {
          padding: 142px 10px 0 0;
        }
      }
      &.pg-partner {
        .sub-container {
          display: flex;
          width: 100%;
          position: relative;
          margin-top: 80px;
          &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 11px;
            width: 62px;
            height: 4px;
            background-color: $bg-highlight;
          }
          .partner {
            position: absolute;
            &:first-child {
              left: 4px;
              top: 60px;
            }
            &:nth-child(2) {
              left: 358px;
              top: 60px;
            }
            &:last-child {
              left: 4px;
              top: 350px;
            }
            width: 317px;
            height: 400px;
            cursor: pointer;
            display: inline-block;
            padding: 0 0 0 0;
            margin: 0 87px 0 0;
            .title {
              margin: 0 0 18px 0;
              font-size: 18px;
              font-weight: 500;
              letter-spacing: 0;
              color: $text-darkgray;
              line-height: 26px;
              text-transform: uppercase;
            }
            .description {
              margin: 0 0 17px 0;
              font-size: 14px;
              font-weight: 400;
              letter-spacing: -0.3px;
              color: $text-lightgray;
              line-height: 22px;
            }
            .logo {
              margin: 0 0 0 0;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      &.pg-blueindex {
        .sub-container {
          padding: 23px 0 0 0;
          .apps {
            margin: 0 0 50px 0;
            .link-primary {
              display: inline-block;
              width: 337px;
            }
          }
          .major-description {
            padding-right: 46px;
            &:after {
              display: none;
            }
          }
          .specs {
            margin: 57px 0 0 0;
            .spec {
              width: 338px;
              display: inline-block;
              padding: 0 80px 0 81px;
              margin: 0 0 0 0;
              position: relative;
              &:after {
                content: '';
                display: inline-block;
                position: absolute;
                left:  0;
                top:  6px;
                width: 46px;
                height: 46px;
                @include bg-image(transperent,'../images/icon_big_rank.png',no-repeat,scroll,top,left,46px,46px)
              }
              &.icon-works {
                &:after {
                  left:  4px;
                  top:  5px;
                  width: 64px;
                  height: 58px;
                  @include bg-image(transperent,'../images/blueindex-icon-01.png',no-repeat,scroll,top,center,64px,58px);
                }
              }
              &.icon-hammer{
                &:after {
                  left:  4px;
                  top:  5px;
                  width: 57px;
                  height: 43px;
                  @include bg-image(transperent,'../images/blueindex-icon-02.png',no-repeat,scroll,top,center,57px,43px);
                }
              }
              &.icon-compare {
                &:after {
                  left:  4px;
                  top:  5px;
                  width: 57px;
                  height: 43px;
                  @include bg-image(transperent,'../images/blueindex-icon-03.png',no-repeat,scroll,top,center,57px,43px);
                }
              }
              .title {
                margin: 0 0 3px 0;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0;
                color: $text-default;
                line-height: 24px;
                text-transform: uppercase;
              }
              .description {
                margin: 0 0 28px 0;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0;
                color: $text-lightgray;
                line-height: 15px;
              }
              .logo {
                margin: 0 0 0 0;
              }
              &:hover {
                text-decoration: none;
              }
            }
            .btn-container {
              width: 338px;
              display: inline-block;
              padding: 0 0 0 0;
              margin: 0 0 0 0;
              vertical-align: top;
            }
          }
        }
      }
      &.pg-monopoly {
        .section-title {
          &:after {
            height: 80px;
          }
        }
        .sub-container {
          padding: 60px 0 0 0;
          .apps {
            margin: -30px 0 70px 0;
          }
          .major-description {
            &:after {
              display: none;
            }
          }
          .submenu {
            position: absolute;
            left: -350px;
            top: 175px;
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 0;
            color: $text-default;
            line-height: 30px;
            text-transform: uppercase;
            .pg-contributor {
              position: absolute;
              left: 0;
              top: 52px;
              width: 500px;
              .title {
                margin: 0 0 0 13px;
              }
              .contents {
                display: none;
                margin-top: 0;
                .caption {
                  opacity: 0.7;
                  padding-top: 0;
                }
                .btn-container {
                  margin: -140px 0 140px 0;
                }
              }
            }
            .pg-validator {
              position: absolute;
              left: 0;
              top: 83px;
              width: 500px;
              .title {
                margin: 0 0 0 13px;
              }
              .contents {
                display: none;
                margin-top: -31px;
                .caption {
                  opacity: 0.7;
                  padding-top: 0;
                }
              }
            }
            .pg-datasharing {
              position: absolute;
              left: 0;
              top: 114px;
              width: 500px;
              .title {
                margin: 0 0 0 13px;
              }
              .contents {
                display: none;
                margin-top: -62px;
                .caption {
                  opacity: 0.7;
                  padding-top: 0;
                }
              }
            }
            .title {
              padding-right: 50px;
              color: $text-lightgray;
              position: relative;
              &:hover {
                text-decoration: none;
                color: $text-black;
                &:after {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 14px;
                  width: 30px;
                  height: 2px;
                  background-color: $text-default;
                }
              }
            }
            .active {
              &.pg-contributor .contents,
              &.pg-validator .contents,
              &.pg-datasharing .contents {
                display: block;
              }
              .title {
                text-decoration: none;
                color: $text-black;
                &:after {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 14px;
                  width: 30px;
                  height: 2px;
                  background-color: $text-default;
                }
              }
            }
          }
          .title {
            float: left;
          }
          .contents {
            position: absolute;
            left: 349px;
            width: 500px;
          }
        }
      }
      &.pg-contributor,
      &.pg-validator,
      &.pg-datasharing {
        .sub-container {
          padding: 45px 0 0 0;
        }
        .btn-container {
          margin: 45px 0 0 0;
        }
      }
      &.pg-liveauctionart {
        .section-title {
          &:after {
            height: 80px;
          }
        }
        .sub-container {
          padding: 51px 0 0 0;
          .apps {
            margin: -30px 0 60px 0;
            .link-primary {
              display: inline-block;
              width: 337px;
            }
          }
          .major-description {
            padding-right: 46px;
            &:after {
              display: none;
            }
          }
          .specs {
            margin: 48px 0 0 0;
            display: flex;
            flex-wrap: wrap;
            .spec {
              width: 338px;
              display: inline-block;
              padding: 0 80px 0 81px;
              margin: 0 0 0 0;
              position: relative;
              &:after {
                content: '';
                display: inline-block;
                position: absolute;
                left:  0;
                top:  6px;
                width: 46px;
                height: 46px;
                @include bg-image(transperent,'../images/icon_big_rank.png',no-repeat,scroll,top,left,46px,46px);
              }
              &.icon-realtime {
                &:after {
                  left:  4px;
                  top:  5px;
                  width: 58px;
                  height: 42px;
                  @include bg-image(transperent,'../images/live-icon-01.png',no-repeat,scroll,top,center,58px,42px);
                }
              }
              &.icon-multiple {
                &:after {
                  left:  4px;
                  top:  5px;
                  width: 58px;
                  height: 42px;
                  @include bg-image(transperent,'../images/live-icon-02.png',no-repeat,scroll,top,center,58px,42px);
                }
              }
              &.icon-rank {
                &:after {
                  left:  4px;
                  top:  5px;
                  width: 47px;
                  height: 49px;
                  @include bg-image(transperent,'../images/live-icon-03.png',no-repeat,scroll,top,center,47px,49px);
                }
              }
              &.icon-sharing {
                &:after {
                  left:  4px;
                  top:  5px;
                  width: 54px;
                  height: 44px;
                  @include bg-image(transperent,'../images/live-icon-05.png',no-repeat,scroll,top,center,54px,44px);
                }
              }
              &.icon-news {
                &:after {
                  left:  4px;
                  top:  5px;
                  width: 49px;
                  height: 38px;
                  @include bg-image(transperent,'../images/live-icon-06.png',no-repeat,scroll,top,center,49px,38px);
                }
              }
              .title {
                margin: 4px 0 3px 0;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0;
                color: $text-default;
                line-height: 16px;
                text-transform: uppercase;
              }
              .description {
                margin: 0 0 28px 0;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0;
                color: $text-lightgray;
                line-height: 15px;
              }
              .logo {
                margin: 0 0 0 0;
              }
              &:hover {
                text-decoration: none;
              }
            }
            .btn-container {
              width: 338px;
              display: inline-block;
              padding: 0 0 0 0;
              margin: 50px 0 0 0;
              vertical-align: top;
            }
          }
        }
      }
      &.pg-inartpress {
        .sub-container {
          padding: 25px 0 0 0;
          .apps {
            margin: -4px 0 60px 0;
            .link-primary {
              display: inline-block;
              width: 337px;
            }
          }
          .major-description {
            padding-right: 46px;
            &:after {
              display: none;
            }
          }
          .specs {
            margin: 48px 0 0 0;
            display: flex;
            flex-wrap: wrap;
            .spec {
              width: 343px;
              display: inline-block;
              padding: 0 69px 0 76px;
              margin: 0 0 0 0;
              position: relative;
              &:after {
                content: '';
                display: inline-block;
                position: absolute;
                left:  0;
                top:  6px;
                width: 46px;
                height: 46px;
                @include bg-image(transperent,'../images/icon_big_rank.png',no-repeat,scroll,top,left,46px,46px);
              }
              &.icon-map {
                &:after {
                  left:  4px;
                  top:  5px;
                  width: 46px;
                  height: 46px;
                  @include bg-image(transperent,'../images/icon_big_map.png',no-repeat,scroll,top,center,46px,44px);
                }
              }
              &.icon-search {
                &:after {
                  left:  0;
                  top:  12px;
                  width: 52px;
                  height: 46px;
                  @include bg-image(transperent,'../images/icon_big_search.png',no-repeat,scroll,top,center,52px,39px);
                }
              }
              &.icon-info {
                &:after {
                  left:  1px;
                  top:  9px;
                  width: 46px;
                  height: 46px;
                  @include bg-image(transperent,'../images/icon_big_info.png',no-repeat,scroll,top,center,40px,40px);
                }
              }
              .title {
                margin: 4px 0 10px 0;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0;
                color: $text-default;
                line-height: 16px;
                text-transform: uppercase;
              }
              .description {
                margin: 0 0 28px 0;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0;
                color: $text-lightgray;
                line-height: 15px;
              }
              .logo {
                margin: 0 0 0 0;
              }
              &:hover {
                text-decoration: none;
              }
            }
            .btn-container {
              width: 338px;
              display: inline-block;
              padding: 0 0 0 0;
              margin: 50px 0 0 0;
              vertical-align: top;
            }
          }
        }
      }
      &.pg-contact {
        .sub-container {
          padding: 100px 10px 0 0;
          position: relative;
          &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left:  0;
            top:  36px;
            width: 62px;
            height: 4px;
            background-color: $bg-highlight;
          }
          .form-group {
            display: flex;
            margin: 0 0 30px 0;
          }
          .label {
            vertical-align: top;
            display: inline-block;
            padding: 12px 0 0 0;
            width: 170px;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0;
            color: $text-lightgray;
            line-height: 16px;
            text-transform: uppercase;
          }
          .input-default {
            width: 450px;
            height: 46px;
            padding: 10px 20px 10px 20px;
            background-color: $bg-fairy;
            //border: 1px solid $border-default;
            border: 0;
            //border: 1px solid $border-fairy;
            //border-right: 1px solid $border-default;
            //border-bottom: 1px solid $border-default;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0;
            color: $text-lightgray;
            line-height: 100%;
            @include placeholder-color(#fff);
            &.textarea {
              height: 110px !important;;
            }
          }
          .btn-container {
            margin: 0 0 0 169px
          }
        }
      }
    }
  }
  .footer {
    width: $width-inner-container;
    margin: 0 auto;
    height: 74px;
    padding: 22px 0 0 0;
    .copyright {
      float: left;
      margin-top: 2px;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0;
      color: $text-black;
      line-height: 100%;
    }
    .office, .contact {
      float: right;
      width: 343px;
    }
    .title {
      float: left;
      width:50px;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0;
      color: $text-default;
      line-height: 15px;
      text-transform: uppercase;
    }
    .text {
      float: right;
      width: 250px;
      display: inline-block;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0;
      color: $text-lightgray;
      line-height: 16px;
      a {
        text-decoration: none;
        color: $text-lightgray;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
